# Exercice : analyse de données

## Import des données

Importer les 2 jeux de données all-ages.csv et recent-grads.csv

In [2]:
import pandas as pd
aa = pd.read_csv('Data/all-ages.csv')
rg = pd.read_csv('Data/recent-grads.csv')

In [3]:
aa.head(10)

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148.0,90245.0,74078.0,2423.0,0.026147,50000.0,34000.0,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326.0,76865.0,64240.0,2266.0,0.028636,54000.0,36000.0,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955.0,26321.0,22810.0,821.0,0.030248,63000.0,40000.0,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549.0,81177.0,64937.0,3619.0,0.042679,46000.0,30000.0,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280.0,17281.0,12722.0,894.0,0.049188,62000.0,38500.0,90000.0
5,1105,PLANT SCIENCE AND AGRONOMY,Agriculture & Natural Resources,79409.0,63043.0,51077.0,2070.0,0.031791,50000.0,35000.0,75000.0
6,1106,SOIL SCIENCE,Agriculture & Natural Resources,6586.0,4926.0,4042.0,264.0,0.050867,63000.0,39400.0,88000.0
7,1199,MISCELLANEOUS AGRICULTURE,Agriculture & Natural Resources,8549.0,6392.0,5074.0,261.0,0.039230,52000.0,35000.0,75000.0
8,1301,ENVIRONMENTAL SCIENCE,Biology & Life Science,106106.0,87602.0,65238.0,4736.0,0.051290,52000.0,38000.0,75000.0
9,1302,FORESTRY,Agriculture & Natural Resources,69447.0,48228.0,39613.0,2144.0,0.042563,58000.0,40500.0,80000.0

In [4]:
rg.head(10)

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419.0,PETROLEUM ENGINEERING,Engineering,2339.0,36.0,2057.0,282.0,0.120564,1976.0,...,270.0,1207.0,37.0,0.018381,110000.0,95000.0,125000.0,1534.0,364.0,193.0
1,2,2416.0,MINING AND MINERAL ENGINEERING,Engineering,756.0,7.0,679.0,77.0,0.101852,640.0,...,170.0,388.0,85.0,0.117241,75000.0,55000.0,90000.0,350.0,257.0,50.0
2,3,2415.0,METALLURGICAL ENGINEERING,Engineering,856.0,3.0,725.0,131.0,0.153037,648.0,...,133.0,340.0,16.0,0.024096,73000.0,50000.0,105000.0,456.0,176.0,0.0
3,4,2417.0,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258.0,16.0,1123.0,135.0,0.107313,758.0,...,150.0,692.0,40.0,0.050125,70000.0,43000.0,80000.0,529.0,102.0,0.0
4,5,2405.0,CHEMICAL ENGINEERING,Engineering,32260.0,289.0,21239.0,11021.0,0.341631,25694.0,...,5180.0,16697.0,1672.0,0.061098,65000.0,50000.0,75000.0,18314.0,4440.0,972.0
5,6,2418.0,NUCLEAR ENGINEERING,Engineering,2573.0,17.0,2200.0,373.0,0.144967,1857.0,...,264.0,1449.0,400.0,0.177226,65000.0,50000.0,102000.0,1142.0,657.0,244.0
6,7,6202.0,ACTUARIAL SCIENCE,Business,3777.0,51.0,832.0,960.0,0.535714,2912.0,...,296.0,2482.0,308.0,0.095652,62000.0,53000.0,72000.0,1768.0,314.0,259.0
7,8,5001.0,ASTRONOMY AND ASTROPHYSICS,Physical Sciences,1792.0,10.0,2110.0,1667.0,0.441356,1526.0,...,553.0,827.0,33.0,0.021167,62000.0,31500.0,109000.0,972.0,500.0,220.0
8,9,2414.0,MECHANICAL ENGINEERING,Engineering,91227.0,1029.0,12953.0,2105.0,0.139793,76442.0,...,13101.0,54639.0,4650.0,0.057342,60000.0,48000.0,70000.0,52844.0,16384.0,3253.0
9,10,2408.0,ELECTRICAL ENGINEERING,Engineering,81527.0,631.0,8407.0,6548.0,0.437847,61928.0,...,12695.0,41413.0,3895.0,0.059174,60000.0,45000.0,72000.0,45829.0,10874.0,3170.0

In [39]:
print(rg.shape[0], aa.shape[0])

170 171

In [13]:
### gestion des valeurs manquantes
#print(aa.loc[aa['Major_category'].isnull()])
aa.dropna(inplace=True)
rg.dropna(inplace=True)

## Calculer le nombre d'étudiants par catégorie de Major (Major_category) dans chaque dataset

#### Contraintes:
- Définir une fonction permettant ce calcul et prenant commme paramètre un dataframe. Quel est l'intérêt d'une telle solution ?
- Le refaire d'une seconde manière avec une méthode déjà vue et permettant d'obtenir des tableaux croisés à partir d'un dataframe...
- Stocker les résultats dans 2 dictionnaires.

In [22]:
def nb_students(df):
    categ = df['Major_category'].unique()
    dico = {}
    for c in categ:
        filtre = df.Major_category == c
        subset = df.loc[filtre,'Total']
        dico[c] = subset.sum()
    return dico

aa_cat = nb_students(aa)
rg_cat = nb_students(rg)

In [20]:
temp = aa.pivot_table(index='Major_category', values='Total', aggfunc=sum)
temp

aa_cat2 = {}
for m in temp.index:
    aa_cat2[m] = temp.at[m,'Total']
aa_cat2

{'Agriculture & Natural Resources': 632437.0,
 'Arts': 1805865.0,
 'Biology & Life Science': 1338186.0,
 'Business': 9858741.0,
 'Communications & Journalism': 1803822.0,
 'Computers & Mathematics': 1781378.0,
 'Education': 4700118.0,
 'Engineering': 3576013.0,
 'Health': 2950859.0,
 'Humanities & Liberal Arts': 3738335.0,
 'Industrial Arts & Consumer Services': 1018072.0,
 'Interdisciplinary': 45199.0,
 'Law & Public Policy': 902926.0,
 'Physical Sciences': 1013152.0,
 'Psychology & Social Work': 1987278.0,
 'Social Science': 2654125.0}

## Taux de jobs à faible salaire

Utiliser les colonnes "Low_wage_jobs" et "Total" pour calculer la proportion de jeunes diplômés (donc recent_grads) qui ont du accepter des jobs à faible salaire. Interprétez ce résultat !

In [23]:
low_wage_tot = rg.Low_wage_jobs.sum()
total_tot = rg.Total.sum()
taux = low_wage_tot/total_tot

0.0985632090546332

## Comparer les données : déterminer le nombre de Major pour lesquelles les jeunes diplômés ont un taux de chômage plus faible qu'en population générale

Indications :
- Créer un compteur
- Utiliser une boucle for pour parcourir toutes les majors.
>- Comparer les valeurs pour la colonne "Unemployment_rate" pour voir lequel des 2 DataFrames possèdent la valeur la plus basse
>- Incrémenter le compteur si la valeur pour Unemployment_rate est plus petite dans le dataframe recent_grads que dans le dataframe all_ages
- Afficher le résultat du compteur.
- On pourra aussi éventuellement stocker dans une liste les majors concernées

In [38]:
cpt=0
majors=[]
for m in rg['Major'].unique():
    tx_rg = rg.loc[rg.Major==m,'Unemployment_rate'].values
    tx_aa = aa.loc[aa.Major==m,'Unemployment_rate'].values
    if  tx_rg < tx_aa :
        cpt+=1
        majors.append(m)
print(cpt)
print(majors)

42
['PETROLEUM ENGINEERING', 'METALLURGICAL ENGINEERING', 'ASTRONOMY AND ASTROPHYSICS', 'ENGINEERING MECHANICS PHYSICS AND SCIENCE', 'INDUSTRIAL AND MANUFACTURING ENGINEERING', 'ARCHITECTURAL ENGINEERING', 'COURT REPORTING', 'MATERIALS ENGINEERING AND MATERIALS SCIENCE', 'MISCELLANEOUS FINE ARTS', 'INDUSTRIAL PRODUCTION TECHNOLOGIES', 'MATHEMATICS', 'PHYSICS', 'ENGINEERING AND INDUSTRIAL MANAGEMENT', 'MATHEMATICS AND COMPUTER SCIENCE', 'GENERAL AGRICULTURE', 'MISCELLANEOUS ENGINEERING TECHNOLOGIES', 'GENETICS', 'UNITED STATES HISTORY', 'PHYSICAL SCIENCES', 'CHEMISTRY', 'BOTANY', 'HUMAN RESOURCES AND PERSONNEL MANAGEMENT', 'GEOSCIENCES', 'SOCIAL PSYCHOLOGY', 'AREA ETHNIC AND CIVILIZATION STUDIES', 'SPECIAL NEEDS EDUCATION', 'NEUROSCIENCE', 'MULTI/INTERDISCIPLINARY STUDIES', 'ATMOSPHERIC SCIENCES AND METEOROLOGY', 'SOIL SCIENCE', 'MATHEMATICS TEACHER EDUCATION', 'HEALTH AND MEDICAL PREPARATORY PROGRAMS', 'ART AND MUSIC EDUCATION', 'ART HISTORY AND CRITICISM', 'MISCELLANEOUS PSYCHOLOGY', 'HUMAN SERVICES AND COMMUNITY ORGANIZATION', 'HUMANITIES', 'EARLY CHILDHOOD EDUCATION', 'DRAMA AND THEATER ARTS', 'ZOOLOGY', 'EDUCATIONAL PSYCHOLOGY', 'COUNSELING PSYCHOLOGY']