# Introduction à la libraire Pandas

DataFrame : structure de données équivalente à un numpy.array avec des fonctionnalités en plus

Avantages de Pandas :
 - pas de restriction à un seul type de données
 - gestion des NaN simplifié
 - extraction de valeurs et de sous-ensembles facile

## Généralités

In [2]:
import pandas as pd

In [4]:
### Lecture d'un fichier csv
data = pd.read_csv('Data/food-info.csv')
type(data)
data.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0

In [ ]:
### Affichage des données
data.head()
data.head(3)
data.tail()
data.tail(7)

In [ ]:
### Attributs columns et shape
print(data.shape,'\n',data.columns)

In [ ]:
### type des données avec dtypes :
#object (pour les string ou les variables ayant différents types)
#int, float, datetime, bool
print(data.dtypes)

## Sélection de ligne.s et de colonne.s

In [7]:
type(data.loc[0])

pandas.core.series.Series

In [8]:
### sélection d'une seule ligne
data.loc[0]

NDB_No                         1001
Shrt_Desc          BUTTER WITH SALT
Water_(g)                     15.87
Energ_Kcal                      717
Protein_(g)                    0.85
Lipid_Tot_(g)                 81.11
Ash_(g)                        2.11
Carbohydrt_(g)                 0.06
Fiber_TD_(g)                      0
Sugar_Tot_(g)                  0.06
Calcium_(mg)                     24
Iron_(mg)                      0.02
Magnesium_(mg)                    2
Phosphorus_(mg)                  24
Potassium_(mg)                   24
Sodium_(mg)                     643
Zinc_(mg)                      0.09
Copper_(mg)                       0
Manganese_(mg)                    0
Selenium_(mcg)                    1
Vit_C_(mg)                        0
Thiamin_(mg)                  0.005
Riboflavin_(mg)               0.034
Niacin_(mg)                   0.042
Vit_B6_(mg)                   0.003
Vit_B12_(mcg)                  0.17
Vit_A_IU                       2499
Vit_A_RAE                       684
Vit_E_(mg)                     2.32
Vit_D_mcg                       1.5
Vit_D_IU                         60
Vit_K_(mcg)                       7
FA_Sat_(g)                   51.368
FA_Mono_(g)                  21.021
FA_Poly_(g)                   3.043
Cholestrl_(mg)                  215
Name: 0, dtype: object

In [9]:
### sélection de plusieurs lignes
data.loc[3:6]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0
6,1007,CHEESE CAMEMBERT,51.80,300,19.80,24.26,3.68,0.46,0.0,0.46,...,820.0,241.0,0.21,0.4,18.0,2.0,15.259,7.023,0.724,72.0

In [ ]:
data.iloc[3:6,:]

In [ ]:
data.loc[[2,10,5]]

In [ ]:
data.loc[list(range(2,5))+list(range(9,11))]

In [ ]:
### sélection d'une colonne
data['NDB_No']

In [13]:
### sélection d'une colonne avec .loc
data.loc[:,"NDB_No"]

0        1001
1        1002
2        1003
3        1004
4        1005
5        1006
6        1007
7        1008
8        1009
9        1010
10       1011
11       1012
12       1013
13       1014
14       1015
15       1016
16       1017
17       1018
18       1019
19       1020
20       1021
21       1022
22       1023
23       1024
24       1025
25       1026
26       1027
27       1028
28       1029
29       1030
        ...
8588    43544
8589    43546
8590    43550
8591    43566
8592    43570
8593    43572
8594    43585
8595    43589
8596    43595
8597    43597
8598    43598
8599    44005
8600    44018
8601    44048
8602    44055
8603    44061
8604    44074
8605    44110
8606    44158
8607    44203
8608    44258
8609    44259
8610    44260
8611    48052
8612    80200
8613    83110
8614    90240
8615    90480
8616    90560
8617    93600
Name: NDB_No, Length: 8618, dtype: int64

In [12]:
### sélection d'une colonne avec .iloc[]
data.iloc[:,0]

0        1001
1        1002
2        1003
3        1004
4        1005
5        1006
6        1007
7        1008
8        1009
9        1010
10       1011
11       1012
12       1013
13       1014
14       1015
15       1016
16       1017
17       1018
18       1019
19       1020
20       1021
21       1022
22       1023
23       1024
24       1025
25       1026
26       1027
27       1028
28       1029
29       1030
        ...
8588    43544
8589    43546
8590    43550
8591    43566
8592    43570
8593    43572
8594    43585
8595    43589
8596    43595
8597    43597
8598    43598
8599    44005
8600    44018
8601    44048
8602    44055
8603    44061
8604    44074
8605    44110
8606    44158
8607    44203
8608    44258
8609    44259
8610    44260
8611    48052
8612    80200
8613    83110
8614    90240
8615    90480
8616    90560
8617    93600
Name: NDB_No, Length: 8618, dtype: int64

In [11]:
### sélection de plusieurs colonnes
data[["Zinc_(mg)","NDB_No"]].head()

   Zinc_(mg)  NDB_No
0       0.09    1001
1       0.05    1002
2       0.01    1003
3       2.66    1004
4       2.60    1005

In [ ]:
### sélection de plusieurs colonnes avec loc
data.loc[:,["NDB_No","Calcium_(mg)","Energ_Kcal"]].head()

In [10]:
### sélection de plusieurs colonnes avec iloc
data.iloc[:,[10,0,3]+list(range(2,5))].head()

   Calcium_(mg)  NDB_No  Energ_Kcal  Water_(g)  Energ_Kcal  Protein_(g)
0          24.0    1001         717      15.87         717         0.85
1          24.0    1002         717      15.87         717         0.85
2           4.0    1003         876       0.24         876         0.28
3         528.0    1004         353      42.41         353        21.40
4         674.0    1005         371      41.11         371        23.24

### Exo : afficher les 3 premières lignes des colonnes utilisant comme unité de mesure les grammes

En regardant les noms des colonnes, on constate qu'elles sont identifiables via le suffixe "(g)". Il y a plus qu'à...

Deux solutions possibles mais il y en a d'autres. **Surtout, essayez d'abord par vous-même !**

In [16]:
### Une première solution
data.columns

grams=[]
for col in data.columns:
    if col[-3:] == "(g)": #if "(g)" in col:
        grams.append(col)
data[grams].head(3)

,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g)
0,15.87,0.85,81.11,2.11,0.06,0.0,0.06,51.368,21.021,3.043
1,15.87,0.85,81.11,2.11,0.06,0.0,0.06,50.489,23.426,3.012
2,0.24,0.28,99.48,0.00,0.00,0.0,0.00,61.924,28.732,3.694

In [18]:
### Une seconde en utilisant la méthode endswith() et un booléen pour sélectionner les colonnes avec .loc
data.loc[:2,[c.endswith("_(g)") for c in data.columns]]

,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g)
0,15.87,0.85,81.11,2.11,0.06,0.0,0.06,51.368,21.021,3.043
1,15.87,0.85,81.11,2.11,0.06,0.0,0.06,50.489,23.426,3.012
2,0.24,0.28,99.48,0.00,0.00,0.0,0.00,61.924,28.732,3.694

## Manipulation de données avec Pandas

### Transformation d'une colonne

On peut facilement transformer une colonne en ajoutant, enlevant, multipliant ou divisant une toutes les lignes par une même valeur. Deux exemples ci-dessous pour convertir des valeurs des milligrammes vers les grammes et inversement.

In [20]:
### Pour convertir des mg en g
iron_g = data["Iron_(mg)"]/1000

### Pour convertir des g en mg
protein_mg = data["Protein_(g)"]*1000

print(iron_g,protein_mg)

0       0.00002
1       0.00016
2       0.00000
3       0.00031
4       0.00043
5       0.00050
6       0.00033
7       0.00064
8       0.00016
9       0.00021
10      0.00076
11      0.00007
12      0.00016
13      0.00015
14      0.00013
15      0.00014
16      0.00038
17      0.00044
18      0.00065
19      0.00023
20      0.00052
21      0.00024
22      0.00017
23      0.00013
24      0.00072
25      0.00044
26      0.00020
27      0.00022
28      0.00023
29      0.00041
         ...
8588    0.00900
8589    0.00030
8590    0.00010
8591    0.00163
8592    0.03482
8593    0.00228
8594    0.00017
8595    0.00017
8596    0.00486
8597    0.00025
8598    0.00023
8599    0.00013
8600    0.00011
8601    0.00068
8602    0.00783
8603    0.00311
8604    0.00030
8605    0.00018
8606    0.00080
8607    0.00004
8608    0.00387
8609    0.00005
8610    0.00038
8611    0.00520
8612    0.00150
8613    0.00140
8614    0.00058
8615    0.00360
8616    0.00350
8617    0.00140
Name: Iron_(mg), Length: 8618, dtype: float64 0         850.0
1         850.0
2         280.0
3       21400.0
4       23240.0
5       20750.0
6       19800.0
7       25180.0
8       24040.0
9       23370.0
10      23760.0
11      11120.0
12      10690.0
13      10340.0
14      10450.0
15      12390.0
16       5930.0
17      24990.0
18      14210.0
19      25600.0
20       9650.0
21      24940.0
22      29810.0
23      20050.0
24      24480.0
25      22170.0
26      21600.0
27      24260.0
28      24580.0
29      23410.0
         ...
8588     6600.0
8589     1000.0
8590      300.0
8591     8700.0
8592     7120.0
8593    12600.0
8594      500.0
8595    28400.0
8596     4400.0
8597    27500.0
8598        0.0
8599        0.0
8600        0.0
8601     4080.0
8602    11300.0
8603     5300.0
8604        0.0
8605      300.0
8606      410.0
8607       80.0
8608    10080.0
8609     1600.0
8610      810.0
8611    75160.0
8612    16400.0
8613    18500.0
8614    20540.0
8615        0.0
8616    16100.0
8617    19800.0
Name: Protein_(g), Length: 8618, dtype: float64

### Création et suppression d'une colonne

Pour créer une nouvelle colonne, il suffit d'affecter un objet Series à un nouveau de colonne dans le dataframe. Si on affecte à un nom de colonne déjà existant, on remplace l'ensemble des valeurs par la nouvelle série.

In [ ]:
### La nouvelle colonne est créée à la fin du dataframe
data["Iron_(g)"] = data["Iron_(mg)"]/1000
data.head(1)

Pour supprimer une colonne, on peut utiliser del ou drop

In [ ]:
### Avec del
del data["Iron_(g)"]
data.head(1)

In [ ]:
### Avec drop
data["Iron_(g)"] = data["Iron_(mg)"]/1000 # on recréé la variable à supprimer
data.drop(["Iron_(g)"], axis='columns', inplace=True)
data.head(1)

# ATTENTION à l'option inplace, qui remplace directement le dataframe par le dataframe sans les colonnes à supprimer...
# par précaution et par défaut inplace = FALSE et la méthode drop retourne un nouveau dataframe

### Opérations entre colonnes

In [ ]:
### Pour ajouter les quantités de fer et de calcium contenues dans un aliment
fer_calcium = data["Iron_(mg)"] + data["Calcium_(mg)"]
fer_calcium.head()

In [ ]:
### On peut multiplier (ou diviser) des colonnes
water_energy = data["Water_(g)"]*data["Energ_Kcal"]
water_energy[:5]

### Trier un dataframe

In [26]:
### on utilise la méthode sort_values()
data.sort_values("Protein_(g)")
# Pensez à bien regarder la documentation et notamment l'existence des paramètres inplace= et ascending=

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Score
750,4656,OIL INDUSTRIAL PALM KERNEL CONFECTION FAT,0.05,884,0.00,100.00,0.01,0.00,0.0,0.00,...,0.0,3.81,NaN,NaN,24.7,87.558,5.406,0.834,0.0,-0.750000
4257,14148,CARBONATED BEV COLA,89.62,41,0.00,0.00,0.06,10.58,0.0,10.75,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,0.000000
4187,14051,ALCOHOLIC BEV DISTILLED VODKA 80 PROOF,66.60,231,0.00,0.00,0.00,0.00,0.0,0.00,...,0.0,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.0,0.000000
4186,14050,ALCOHOLIC BEV DISTILLED RUM 80 PROOF,66.60,231,0.00,0.00,0.00,0.00,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,0.000000
4185,14049,ALCOHOLIC BEV DISTILLED GIN 90 PROOF,62.10,263,0.00,0.00,0.00,0.00,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,0.000000
4180,14042,BEVERAGES FORT LO CAL FRUIT JUC BEV,97.21,4,0.00,0.00,2.09,0.70,0.0,0.63,...,20.0,1.14,0.0,0.0,0.1,0.000,0.000,0.000,0.0,0.000000
4178,14038,BEVERAGES OCEAN SPRAY CRAN-ENERGY CRANBERRY EN...,96.18,15,0.00,0.00,0.11,3.75,0.0,3.75,...,0.0,0.00,0.0,0.0,0.1,0.000,0.000,0.000,0.0,0.000000
4207,14074,BEVERAGES ZEVIA COLA CAFFEINE FREE,98.87,0,0.00,0.00,0.01,1.13,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,0.000000
4398,14545,TEA HERB CHAMOMILE BREWED,99.70,1,0.00,0.00,0.00,0.20,0.0,0.00,...,1.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,0.000000
4346,14381,TEA HERB OTHER THAN CHAMOMILE BREWED,99.70,1,0.00,0.00,0.00,0.20,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.002,0.001,0.005,0.0,0.000000
4348,14385,WATER BTLD POLAND SPRING,100.00,0,0.00,0.00,0.00,0.00,0.0,NaN,...,0.0,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.0,0.000000
4188,14052,ALCOHOLIC BEV DISTILLED WHISKEY 86 PROOF,63.90,250,0.00,0.00,0.00,0.10,0.0,0.10,...,0.0,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.0,0.000000
4384,14475,TEA RTD ARIZONA ICED TEA W/ LEMON FLAVOR,90.15,39,0.00,0.00,0.07,9.77,0.0,9.63,...,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,0.0,0.000000
4385,14476,TEA RTD LIPTON BRISK ICED TEA W/ LEMON FLAVOR,91.06,35,0.00,0.00,0.12,8.81,0.0,8.69,...,NaN,NaN,NaN,NaN,NaN,0.000,0.000,NaN,0.0,0.000000
1519,6604,PACE RED TACO SAU,85.30,50,0.00,0.00,2.20,12.50,0.0,6.25,...,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,0.0,0.000000
1518,6603,PACE PICANTE SAU,89.90,25,0.00,0.00,3.85,6.25,3.1,6.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000
1517,6602,PACE ORGANIC PICANTE SAU,89.30,25,0.00,0.00,4.45,6.25,3.1,6.25,...,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,0.0,0.000000
4388,14532,ALCOHOLIC BEV DISTILLED ALL (GIN RUM VODKA WHI...,60.30,275,0.00,0.00,0.00,0.00,0.0,NaN,...,0.0,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.0,0.000000
1516,6601,PACE LIME & GARLIC CHUNKY SALSA,86.60,38,0.00,0.00,4.03,9.38,3.1,6.25,...,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,0.0,0.000000
1515,6600,PACE GRN TACO SAU,90.70,25,0.00,0.00,3.05,6.25,NaN,6.25,...,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,0.0,0.000000
4389,14533,ALCOHOLIC BEV DISTILLED ALL 100 PROOF,57.50,295,0.00,0.00,0.00,0.00,0.0,NaN,...,0.0,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.0,0.000000
1513,6598,PACE CILANTRO CHUNKY SALSA,88.60,25,0.00,0.00,5.15,6.25,3.1,6.25,...,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,0.0,0.000000
1512,6597,PACE CHIPOTLE CHUNKY SALSA,88.60,25,0.00,0.00,5.15,6.25,3.1,6.25,...,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,0.0,0.000000
1520,6605,PACE THICK & CHUNKY SALSA,88.70,25,0.00,0.00,5.05,6.25,3.1,6.25,...,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,0.0,0.000000
4392,14537,CARBONATED BEV LOCAL OTHR THAN COLA OR PEP W/ ...,99.80,0,0.00,0.00,0.10,0.10,0.0,NaN,...,0.0,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.0,0.000000
4199,14065,BEVERAGES HI-C FLASHIN' FRUIT PUNCH,87.49,45,0.00,0.00,0.01,12.50,0.0,12.50,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,0.000000
4208,14075,BEVERAGES H2O BTLD NATURALLY SPARKLING (CARBON...,99.95,0,0.00,0.00,0.05,0.00,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,0.000000
4310,14282,GRAPE JUICE DRINK CANNED,85.30,57,0.00,0.00,0.12,14.55,0.1,14.11,...,0.0,0.00,0.0,0.0,0.2,0.000,0.000,0.000,0.0,0.000000
6089,19106,CANDIES GUMDROPS STARCH JELLY PIECES,1.00,396,0.00,0.00,0.10,98.90,0.1,58.97,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,0.000000
4317,14303,LIMEADE FRZ CONC PREP W/H2O,86.08,52,0.00,0.00,0.13,13.79,0.0,13.27,...,0.0,0.00,NaN,NaN,0.0,0.000,0.000,0.000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8238,35184,SMELT DRIED (ALASKA NATIVE),16.92,386,56.19,17.90,8.25,0.00,0.0,0.00,...,139.0,4.51,NaN,NaN,0.0,3.590,6.860,2.884,249.0,1.138168
8172,35079,WALRUS MEAT DRIED (ALASKA NATIVE),38.80,251,57.00,2.60,1.60,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.271261
3340,11667,SEAWEED SPIRULINA DRIED,4.68,290,57.47,7.72,6.23,23.90,3.6,3.10,...,29.0,5.00,0.0,0.0,25.5,2.650,0.675,2.080,0.0,1.243504
6309,19408,PORK SKINS BARBECUE-FLAVOR,2.10,538,57.90,31.80,7.00,1.60,NaN,NaN,...,65.0,NaN,NaN,NaN,NaN,11.560,15.030,3.450,115.0,1.072641
4988,16420,SOY PROT CONC PRODUCED BY ACID WASH,5.80,331,58.13,0.46,4.70,30.91,5.5,20.00,...,0.0,NaN,0.0,0.0,0.0,0.052,0.079,0.201,0.0,1.312900
4832,16121,SOY PROT CONC PRODUCED BY ALCOHOL EXTRACTION,5.80,331,58.13,0.46,4.70,30.91,5.5,20.00,...,0.0,0.00,0.0,0.0,0.0,0.052,0.079,0.201,0.0,1.312900
4192,14058,BEVERAGES WHEY PROT PDR ISOLATE,0.86,359,58.14,1.16,10.77,29.07,0.0,1.16,...,872.0,7.85,0.0,0.0,46.5,0.581,0.149,0.021,12.0,1.307876
8216,35161,CARIBOU SHLDR MEAT DRIED (ALASKA NATIVE),33.81,271,59.38,3.67,4.68,0.00,0.0,0.00,...,11.0,0.07,0.0,0.0,0.0,1.586,1.201,0.370,164.0,1.317131
8139,35040,FISH HERRING EGGS PACIFIC DRY (ALASKA NATIVE),27.30,312,60.40,6.60,2.90,2.80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.318254
8243,35190,SALMON RED (SOCKEYE) FILETS W/ SKN SMOKED (ALA...,23.93,345,60.62,11.43,6.19,0.00,0.0,0.00,...,31.0,1.20,NaN,NaN,0.0,2.593,4.025,3.469,155.0,1.287011
6032,19041,PORK SKINS PLAIN,1.80,544,61.30,31.30,5.40,0.00,0.0,0.00,...,12.0,0.53,0.0,0.0,0.0,11.370,14.780,3.640,95.0,1.153384
8225,35171,FISH SALMON CHUM DRIED (ALASKA NATIVE),22.79,378,62.09,14.38,3.69,0.00,0.0,0.00,...,16.0,0.82,NaN,NaN,0.0,2.395,5.139,2.323,214.0,1.298174
8229,35175,SEAL BEARDED (OOGRUK) MEAT PART DRIED (ALASKA ...,34.92,270,62.38,2.31,2.78,0.00,NaN,0.00,...,0.0,0.07,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.395266
8219,35165,FISH WHITEFISH DRIED (ALASKA NATIVE),20.59,371,62.44,13.44,5.57,0.00,0.0,0.00,...,39.0,0.66,NaN,NaN,1.3,2.850,4.380,2.160,266.0,1.313149
4472,15018,COD ATLANTIC DRIED&SALTED,16.14,290,62.82,2.37,18.67,0.00,0.0,0.00,...,42.0,2.84,4.0,161.0,0.4,0.462,0.342,0.804,152.0,1.404779
4989,16421,SOY PROT CONC CRUDE PROT BASIS (N X 6.25) ACID...,5.80,328,63.63,0.46,4.70,25.41,5.5,NaN,...,0.0,NaN,0.0,0.0,NaN,0.052,0.079,0.201,0.0,1.437447
4173,14033,BEVERAGES ABBOTT EAS WHEY PROT PDR,6.61,385,66.67,5.13,3.65,17.95,0.0,5.13,...,15.0,0.38,0.0,0.0,0.5,2.564,0.281,0.926,205.0,1.471262
8117,35009,WHALE BELUGA MEAT DRIED (ALASKA NATIVE),22.39,327,69.86,5.34,2.69,0.00,0.0,0.00,...,0.0,0.27,NaN,NaN,0.0,1.204,3.345,0.319,122.0,1.541925
8611,48052,VITAL WHEAT GLUTEN,8.20,370,75.16,1.85,1.00,13.79,0.6,0.00,...,0.0,0.00,0.0,0.0,0.0,0.272,0.156,0.810,0.0,1.688118
123,1135,EGG WHITE DRIED FLAKES STABILIZED GLUCOSE RED,14.62,351,76.92,0.04,4.25,4.17,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,1.741548
8234,35180,STEELHEAD TROUT DRIED FLESH (SHOSHONE BANNOCK),6.49,382,77.27,8.06,10.58,0.00,0.0,0.00,...,64.0,2.41,15.7,628.0,0.0,0.829,1.228,1.739,227.0,1.689324
4200,14066,BEVERAGES PROT PDR WHEY BSD,3.44,352,78.13,1.56,10.55,6.25,3.1,0.00,...,0.0,0.00,0.0,0.0,0.0,0.781,0.158,0.299,16.0,1.757548
4833,16122,SOY PROTEIN ISOLATE,4.98,338,80.69,3.39,3.58,7.36,5.6,0.00,...,0.0,0.00,0.0,0.0,0.0,0.422,0.645,1.648,0.0,1.801794
4990,16422,SOY PROT ISOLATE K TYPE,4.98,326,80.69,0.53,3.58,10.22,5.6,0.00,...,0.0,0.00,0.0,0.0,0.0,0.077,0.117,0.299,0.0,1.823244
151,1173,EGG WHITE DRIED,5.80,382,81.10,0.00,5.30,7.80,0.0,5.40,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,1.836504
124,1136,EGG WHITE DRIED PDR STABILIZED GLUCOSE RED,8.54,376,82.40,0.04,4.55,4.47,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,1.865642
8152,35055,SEAL BEARDED (OOGRUK) MEAT DRIED (ALASKA NATIVE),11.60,351,82.60,2.30,3.50,0.00,0.0,0.00,...,393.0,NaN,NaN,NaN,NaN,0.600,1.330,0.370,NaN,1.853221
216,1258,EGG WHITE DRIED STABILIZED GLUCOSE RED,6.53,362,84.63,0.48,3.63,4.72,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.147,0.173,0.070,20.0,1.912840
6155,19177,GELATINS DRY PDR UNSWTND,13.00,335,85.60,0.10,1.30,0.00,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.070,0.060,0.010,0.0,1.937656
4991,16423,SOY PROT ISOLATE K TYPE CRUDE PROT BASIS,4.98,321,88.32,0.53,3.58,2.59,2.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.066,0.101,0.258,0.0,1.996025

In [24]:
help(data.sort_values)

Help on method sort_values in module pandas.core.frame:

sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last') method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis

    Parameters
    ----------
            by : str or list of str
                Name or list of names to sort by.

                - if `axis` is 0 or `'index'` then `by` may contain index
                  levels and/or column labels
                - if `axis` is 1 or `'columns'` then `by` may contain column
                  levels and/or index labels

                .. versionchanged:: 0.23.0
                   Allow specifying index or column level names.
    axis : {0 or 'index', 1 or 'columns'}, default 0
         Axis to be sorted
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         if True, perform operation in-place
    kind : {'quicksort', 'mergesort', 'heapsort'}, default 'quicksort'
         Choice of sorting algorithm. See also ndarray.np.sort for more
         information.  `mergesort` is the only stable algorithm. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         `first` puts NaNs at the beginning, `last` puts NaNs at the end

    Returns
    -------
    sorted_obj : DataFrame

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1' : ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2' : [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ... })
    >>> df
        col1 col2 col3
    0   A    2    0
    1   A    1    1
    2   B    9    9
    3   NaN  8    4
    4   D    7    2
    5   C    4    3

    Sort by col1

    >>> df.sort_values(by=['col1'])
        col1 col2 col3
    0   A    2    0
    1   A    1    1
    2   B    9    9
    5   C    4    3
    4   D    7    2
    3   NaN  8    4

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
        col1 col2 col3
    1   A    1    1
    0   A    2    0
    2   B    9    9
    5   C    4    3
    4   D    7    2
    3   NaN  8    4

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
        col1 col2 col3
    4   D    7    2
    5   C    4    3
    2   B    9    9
    0   A    2    0
    1   A    1    1
    3   NaN  8    4

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
        col1 col2 col3
    3   NaN  8    4
    4   D    7    2
    5   C    4    3
    2   B    9    9
    0   A    2    0
    1   A    1    1

### Exo : un judoka de haut niveau voudrait adapter son alimentation à son programme d'entraînement et vous demande de déterminer les aliments à la fois riches en protéine et faibles en lipides. Son entraîneur vous contacte ensuite pour vous préciser que le plus important est qu'il y ait un maximum de protéine !

Pour faire cet exercice, voici quelques indications. Vous pouvez tout à fait faire sans mais si vous ne savez pas par où commencer, ces quelques lignes vous aideront sûrement.

Comme on souhaite regarder coinjointement les quantités de protéines et de lipides, le plus simple est de calculer un score faisant intervenir les variables Protein_(g) et Lipid_Tot_(g). L'idée de ce score est que plus il sera élevé, plus l'aliment répondra à nos critères (bcp de protéines/peu de lipides).

Vous calculerez donc un score sous la forme __*Score = a * Protéine + b * Lipide* où a et b sont des constantes qu'il faudra fixer__ (arbitrairement certes mais en justifiant le choix quand même !).

Les questions que vous devez vous poser :
 - Tout d'abord, quel doivent être les signes de a et de b pour répondre à notre problématique ?
 - Quel coefficient doit être le plus grand en valeur absolue ?
 - Ensuite, quelles sont les min et max des variables Protein_(g) et Lipid_Tot_(g) ?
 - Par conséquent, comment gérer le fait que ces deux variables n'évoluent pas du tout sur la même échelle ?

À vous de jouer ! Essayez dans un premier temps de ne pas regarder la solution proposée ci dessous...

In [6]:
# score = 2 * proteine - 0.5 * lipide
# a > 0 car on veut que le score augmente avec la quantité de protéine
# b < 0 car on veut que le score diminue avec la quantité de lipide
# |a|>|b| car le "plus important" selon l'entraîner c'est la quantité de protéine
# on normalise les 2 variables Protéine et Lipide pour qu'elles prennent toutes les 2 leurs valeurs entre 0 et 1
max_p = max(data["Protein_(g)"])
min_p = min(data["Protein_(g)"])
max_l = max(data["Lipid_Tot_(g)"])
min_l = min(data["Lipid_Tot_(g)"])

prot_norm = (data["Protein_(g)"]-min_p)/(max_p-min_p)
lip_norm = (data["Lipid_Tot_(g)"]-min_l)/(max_l-min_l)

data["score"] = 2 * prot_norm - 0.5 *  lip_norm

data.sort_values("score", ascending = False)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),score
4991,16423,SOY PROT ISOLATE K TYPE CRUDE PROT BASIS,4.98,321,88.32,0.53,3.58,2.59,2.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.066,0.101,0.258,0.0,1.997350
6155,19177,GELATINS DRY PDR UNSWTND,13.00,335,85.60,0.10,1.30,0.00,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.070,0.060,0.010,0.0,1.937906
216,1258,EGG WHITE DRIED STABILIZED GLUCOSE RED,6.53,362,84.63,0.48,3.63,4.72,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.147,0.173,0.070,20.0,1.914040
124,1136,EGG WHITE DRIED PDR STABILIZED GLUCOSE RED,8.54,376,82.40,0.04,4.55,4.47,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,1.865742
8152,35055,SEAL BEARDED (OOGRUK) MEAT DRIED (ALASKA NATIVE),11.60,351,82.60,2.30,3.50,0.00,0.0,0.00,...,393.0,NaN,NaN,NaN,NaN,0.600,1.330,0.370,NaN,1.858971
151,1173,EGG WHITE DRIED,5.80,382,81.10,0.00,5.30,7.80,0.0,5.40,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,1.836504
4990,16422,SOY PROT ISOLATE K TYPE,4.98,326,80.69,0.53,3.58,10.22,5.6,0.00,...,0.0,0.00,0.0,0.0,0.0,0.077,0.117,0.299,0.0,1.824569
4833,16122,SOY PROTEIN ISOLATE,4.98,338,80.69,3.39,3.58,7.36,5.6,0.00,...,0.0,0.00,0.0,0.0,0.0,0.422,0.645,1.648,0.0,1.810269
4200,14066,BEVERAGES PROT PDR WHEY BSD,3.44,352,78.13,1.56,10.55,6.25,3.1,0.00,...,0.0,0.00,0.0,0.0,0.0,0.781,0.158,0.299,16.0,1.761448
123,1135,EGG WHITE DRIED FLAKES STABILIZED GLUCOSE RED,14.62,351,76.92,0.04,4.25,4.17,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,1.741648
8234,35180,STEELHEAD TROUT DRIED FLESH (SHOSHONE BANNOCK),6.49,382,77.27,8.06,10.58,0.00,0.0,0.00,...,64.0,2.41,15.7,628.0,0.0,0.829,1.228,1.739,227.0,1.709474
8611,48052,VITAL WHEAT GLUTEN,8.20,370,75.16,1.85,1.00,13.79,0.6,0.00,...,0.0,0.00,0.0,0.0,0.0,0.272,0.156,0.810,0.0,1.692743
8117,35009,WHALE BELUGA MEAT DRIED (ALASKA NATIVE),22.39,327,69.86,5.34,2.69,0.00,0.0,0.00,...,0.0,0.27,NaN,NaN,0.0,1.204,3.345,0.319,122.0,1.555275
4173,14033,BEVERAGES ABBOTT EAS WHEY PROT PDR,6.61,385,66.67,5.13,3.65,17.95,0.0,5.13,...,15.0,0.38,0.0,0.0,0.5,2.564,0.281,0.926,205.0,1.484087
4989,16421,SOY PROT CONC CRUDE PROT BASIS (N X 6.25) ACID...,5.80,328,63.63,0.46,4.70,25.41,5.5,NaN,...,0.0,NaN,0.0,0.0,NaN,0.052,0.079,0.201,0.0,1.438597
4472,15018,COD ATLANTIC DRIED&SALTED,16.14,290,62.82,2.37,18.67,0.00,0.0,0.00,...,42.0,2.84,4.0,161.0,0.4,0.462,0.342,0.804,152.0,1.410704
8229,35175,SEAL BEARDED (OOGRUK) MEAT PART DRIED (ALASKA ...,34.92,270,62.38,2.31,2.78,0.00,NaN,0.00,...,0.0,0.07,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.401041
8219,35165,FISH WHITEFISH DRIED (ALASKA NATIVE),20.59,371,62.44,13.44,5.57,0.00,0.0,0.00,...,39.0,0.66,NaN,NaN,1.3,2.850,4.380,2.160,266.0,1.346749
8139,35040,FISH HERRING EGGS PACIFIC DRY (ALASKA NATIVE),27.30,312,60.40,6.60,2.90,2.80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.334754
8225,35171,FISH SALMON CHUM DRIED (ALASKA NATIVE),22.79,378,62.09,14.38,3.69,0.00,0.0,0.00,...,16.0,0.82,NaN,NaN,0.0,2.395,5.139,2.323,214.0,1.334124
8216,35161,CARIBOU SHLDR MEAT DRIED (ALASKA NATIVE),33.81,271,59.38,3.67,4.68,0.00,0.0,0.00,...,11.0,0.07,0.0,0.0,0.0,1.586,1.201,0.370,164.0,1.326306
8243,35190,SALMON RED (SOCKEYE) FILETS W/ SKN SMOKED (ALA...,23.93,345,60.62,11.43,6.19,0.00,0.0,0.00,...,31.0,1.20,NaN,NaN,0.0,2.593,4.025,3.469,155.0,1.315586
4988,16420,SOY PROT CONC PRODUCED BY ACID WASH,5.80,331,58.13,0.46,4.70,30.91,5.5,20.00,...,0.0,NaN,0.0,0.0,0.0,0.052,0.079,0.201,0.0,1.314050
4832,16121,SOY PROT CONC PRODUCED BY ALCOHOL EXTRACTION,5.80,331,58.13,0.46,4.70,30.91,5.5,20.00,...,0.0,0.00,0.0,0.0,0.0,0.052,0.079,0.201,0.0,1.314050
4192,14058,BEVERAGES WHEY PROT PDR ISOLATE,0.86,359,58.14,1.16,10.77,29.07,0.0,1.16,...,872.0,7.85,0.0,0.0,46.5,0.581,0.149,0.021,12.0,1.310776
8172,35079,WALRUS MEAT DRIED (ALASKA NATIVE),38.80,251,57.00,2.60,1.60,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.277761
3340,11667,SEAWEED SPIRULINA DRIED,4.68,290,57.47,7.72,6.23,23.90,3.6,3.10,...,29.0,5.00,0.0,0.0,25.5,2.650,0.675,2.080,0.0,1.262804
6339,19703,GELATIN DSSRT DRY MIX RED CAL W/ ASPRT ADDED P...,6.70,345,55.30,0.00,4.70,33.30,0.0,NaN,...,0.0,NaN,NaN,NaN,NaN,0.000,NaN,NaN,0.0,1.252264
6340,19704,GELATIN DSSRT DRY MIX RED CAL W/ ASPRT NO ADDE...,6.70,345,55.30,0.00,4.70,33.30,0.0,NaN,...,0.0,NaN,NaN,NaN,NaN,0.000,NaN,NaN,0.0,1.252264
6032,19041,PORK SKINS PLAIN,1.80,544,61.30,31.30,5.40,0.00,0.0,0.00,...,12.0,0.53,0.0,0.0,0.0,11.370,14.780,3.640,95.0,1.231634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,4517,OIL GRAPESEED,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,28.80,NaN,NaN,NaN,9.600,16.100,69.900,0.0,-0.500000
661,4516,OIL TEASEED,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,0.00,NaN,NaN,NaN,21.100,51.500,23.000,0.0,-0.500000
703,4591,FISH OIL MENHADEN,0.00,902,0.00,100.00,0.00,0.00,0.0,NaN,...,0.0,NaN,NaN,NaN,NaN,30.427,26.694,34.197,521.0,-0.500000
631,4037,OIL RICE BRAN,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,32.30,NaN,NaN,24.7,19.700,39.300,35.000,0.0,-0.500000
632,4038,OIL WHEAT GERM,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,149.40,0.0,0.0,24.7,18.800,15.100,61.700,0.0,-0.500000
634,4044,OIL SOYBN SALAD OR COOKING,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,8.18,0.0,0.0,183.9,15.650,22.783,57.740,0.0,-0.500000
635,4047,OIL COCNT,0.00,862,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,0.09,0.0,0.0,0.5,86.500,5.800,1.800,0.0,-0.500000
636,4053,OIL OLIVE SALAD OR COOKING,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,14.35,0.0,0.0,60.2,13.808,72.961,10.523,0.0,-0.500000
637,4055,OIL PALM,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,15.94,NaN,NaN,8.0,49.300,37.000,9.300,0.0,-0.500000
638,4058,OIL SESAME SALAD OR COOKING,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,1.40,0.0,0.0,13.6,14.200,39.700,41.700,0.0,-0.500000
639,4060,OIL SUNFLOWER LINOLEIC (LESS THAN 60%),0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,41.08,NaN,NaN,5.4,10.100,45.400,40.100,0.0,-0.500000
8455,42289,OIL CORN AND CANOLA,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,14.84,0.0,0.0,42.2,8.026,58.537,29.113,0.0,-0.500000
706,4594,FISH OIL SARDINE,0.00,902,0.00,100.00,0.00,0.00,0.0,NaN,...,0.0,NaN,8.3,332.0,NaN,29.892,33.841,31.867,710.0,-0.500000
705,4593,FISH OIL SALMON,0.00,902,0.00,100.00,0.00,0.00,0.0,NaN,...,0.0,NaN,NaN,NaN,NaN,19.872,29.037,40.324,485.0,-0.500000
704,4592,FISH OIL MENHADEN FULLY HYDR,0.00,902,0.00,100.00,0.00,0.00,0.0,NaN,...,0.0,NaN,NaN,NaN,NaN,95.600,0.000,0.000,500.0,-0.500000
702,4590,FISH OIL HERRING,0.00,902,0.00,100.00,0.00,0.00,0.0,NaN,...,0.0,NaN,NaN,NaN,NaN,21.290,56.564,15.604,766.0,-0.500000
660,4515,OIL TOMATOSEED,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,3.80,NaN,NaN,NaN,19.700,22.800,53.100,0.0,-0.500000
701,4589,FISH OIL COD LIVER,0.00,902,0.00,100.00,0.00,0.00,0.0,NaN,...,30000.0,NaN,250.0,10000.0,NaN,22.608,46.711,22.541,570.0,-0.500000
700,4588,OIL OAT,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,14.40,NaN,NaN,24.7,19.620,35.110,40.870,0.0,-0.500000
699,4587,SHORTENING SPL PURPOSE FOR BAKING SOYBN (HYDR)...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,6.13,NaN,NaN,43.0,28.843,29.583,37.174,0.0,-0.500000
698,4586,SHORTENING SPL PURPOSE FOR CAKES&FROSTINGS SOY...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,6.13,NaN,NaN,43.0,20.001,36.555,37.991,0.0,-0.500000
653,4501,OIL COCOA BUTTER,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,1.80,NaN,NaN,24.7,59.700,32.900,3.000,0.0,-0.500000
654,4502,OIL CTTNSD SALAD OR COOKING,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,35.30,0.0,0.0,24.7,25.900,17.800,51.900,0.0,-0.500000
655,4506,OIL SUNFLOWER LINOLEIC (APPROX. 65%),0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,41.08,0.0,0.0,5.4,10.300,19.500,65.700,0.0,-0.500000
656,4510,OIL SAFFLOWER SALAD OR COOKING LINOLEIC (OVER ...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,34.10,NaN,NaN,7.1,6.203,14.355,74.623,0.0,-0.500000
696,4584,OIL SUNFLOWER HI OLEIC (70% & OVER),0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,41.08,0.0,0.0,5.4,9.859,83.689,3.798,0.0,-0.500000
657,4511,OIL SAFFLOWER SALAD OR COOKING HI OLEIC,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,34.10,0.0,0.0,7.1,7.541,75.221,12.820,0.0,-0.500000
658,4513,VEGETABLE OIL PALM KERNEL,0.00,862,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,3.81,0.0,0.0,24.7,81.500,11.400,1.600,0.0,-0.500000
659,4514,OIL POPPYSEED,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,11.40,NaN,NaN,NaN,13.500,19.700,62.400,0.0,-0.500000
707,4595,SHORTENING MULTIPURPOSE SOYBN (HYDR)&PALM (HYDR),0.00,884,0.00,100.00,0.00,0.00,0.0,NaN,...,0.0,NaN,NaN,NaN,NaN,30.423,50.973,14.204,0.0,-0.500000

In [7]:
# le double sort de Fred
data.sort_values(["Protein_(g)","Lipid_Tot_(g)"], ascending=[False,True])

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),score
4991,16423,SOY PROT ISOLATE K TYPE CRUDE PROT BASIS,4.98,321,88.32,0.53,3.58,2.59,2.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.066,0.101,0.258,0.0,1.997350
6155,19177,GELATINS DRY PDR UNSWTND,13.00,335,85.60,0.10,1.30,0.00,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.070,0.060,0.010,0.0,1.937906
216,1258,EGG WHITE DRIED STABILIZED GLUCOSE RED,6.53,362,84.63,0.48,3.63,4.72,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.147,0.173,0.070,20.0,1.914040
8152,35055,SEAL BEARDED (OOGRUK) MEAT DRIED (ALASKA NATIVE),11.60,351,82.60,2.30,3.50,0.00,0.0,0.00,...,393.0,NaN,NaN,NaN,NaN,0.600,1.330,0.370,NaN,1.858971
124,1136,EGG WHITE DRIED PDR STABILIZED GLUCOSE RED,8.54,376,82.40,0.04,4.55,4.47,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,1.865742
151,1173,EGG WHITE DRIED,5.80,382,81.10,0.00,5.30,7.80,0.0,5.40,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,1.836504
4990,16422,SOY PROT ISOLATE K TYPE,4.98,326,80.69,0.53,3.58,10.22,5.6,0.00,...,0.0,0.00,0.0,0.0,0.0,0.077,0.117,0.299,0.0,1.824569
4833,16122,SOY PROTEIN ISOLATE,4.98,338,80.69,3.39,3.58,7.36,5.6,0.00,...,0.0,0.00,0.0,0.0,0.0,0.422,0.645,1.648,0.0,1.810269
4200,14066,BEVERAGES PROT PDR WHEY BSD,3.44,352,78.13,1.56,10.55,6.25,3.1,0.00,...,0.0,0.00,0.0,0.0,0.0,0.781,0.158,0.299,16.0,1.761448
8234,35180,STEELHEAD TROUT DRIED FLESH (SHOSHONE BANNOCK),6.49,382,77.27,8.06,10.58,0.00,0.0,0.00,...,64.0,2.41,15.7,628.0,0.0,0.829,1.228,1.739,227.0,1.709474
123,1135,EGG WHITE DRIED FLAKES STABILIZED GLUCOSE RED,14.62,351,76.92,0.04,4.25,4.17,0.0,0.00,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,1.741648
8611,48052,VITAL WHEAT GLUTEN,8.20,370,75.16,1.85,1.00,13.79,0.6,0.00,...,0.0,0.00,0.0,0.0,0.0,0.272,0.156,0.810,0.0,1.692743
8117,35009,WHALE BELUGA MEAT DRIED (ALASKA NATIVE),22.39,327,69.86,5.34,2.69,0.00,0.0,0.00,...,0.0,0.27,NaN,NaN,0.0,1.204,3.345,0.319,122.0,1.555275
4173,14033,BEVERAGES ABBOTT EAS WHEY PROT PDR,6.61,385,66.67,5.13,3.65,17.95,0.0,5.13,...,15.0,0.38,0.0,0.0,0.5,2.564,0.281,0.926,205.0,1.484087
4989,16421,SOY PROT CONC CRUDE PROT BASIS (N X 6.25) ACID...,5.80,328,63.63,0.46,4.70,25.41,5.5,NaN,...,0.0,NaN,0.0,0.0,NaN,0.052,0.079,0.201,0.0,1.438597
4472,15018,COD ATLANTIC DRIED&SALTED,16.14,290,62.82,2.37,18.67,0.00,0.0,0.00,...,42.0,2.84,4.0,161.0,0.4,0.462,0.342,0.804,152.0,1.410704
8219,35165,FISH WHITEFISH DRIED (ALASKA NATIVE),20.59,371,62.44,13.44,5.57,0.00,0.0,0.00,...,39.0,0.66,NaN,NaN,1.3,2.850,4.380,2.160,266.0,1.346749
8229,35175,SEAL BEARDED (OOGRUK) MEAT PART DRIED (ALASKA ...,34.92,270,62.38,2.31,2.78,0.00,NaN,0.00,...,0.0,0.07,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.401041
8225,35171,FISH SALMON CHUM DRIED (ALASKA NATIVE),22.79,378,62.09,14.38,3.69,0.00,0.0,0.00,...,16.0,0.82,NaN,NaN,0.0,2.395,5.139,2.323,214.0,1.334124
6032,19041,PORK SKINS PLAIN,1.80,544,61.30,31.30,5.40,0.00,0.0,0.00,...,12.0,0.53,0.0,0.0,0.0,11.370,14.780,3.640,95.0,1.231634
8243,35190,SALMON RED (SOCKEYE) FILETS W/ SKN SMOKED (ALA...,23.93,345,60.62,11.43,6.19,0.00,0.0,0.00,...,31.0,1.20,NaN,NaN,0.0,2.593,4.025,3.469,155.0,1.315586
8139,35040,FISH HERRING EGGS PACIFIC DRY (ALASKA NATIVE),27.30,312,60.40,6.60,2.90,2.80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.334754
8216,35161,CARIBOU SHLDR MEAT DRIED (ALASKA NATIVE),33.81,271,59.38,3.67,4.68,0.00,0.0,0.00,...,11.0,0.07,0.0,0.0,0.0,1.586,1.201,0.370,164.0,1.326306
4192,14058,BEVERAGES WHEY PROT PDR ISOLATE,0.86,359,58.14,1.16,10.77,29.07,0.0,1.16,...,872.0,7.85,0.0,0.0,46.5,0.581,0.149,0.021,12.0,1.310776
4832,16121,SOY PROT CONC PRODUCED BY ALCOHOL EXTRACTION,5.80,331,58.13,0.46,4.70,30.91,5.5,20.00,...,0.0,0.00,0.0,0.0,0.0,0.052,0.079,0.201,0.0,1.314050
4988,16420,SOY PROT CONC PRODUCED BY ACID WASH,5.80,331,58.13,0.46,4.70,30.91,5.5,20.00,...,0.0,NaN,0.0,0.0,0.0,0.052,0.079,0.201,0.0,1.314050
6309,19408,PORK SKINS BARBECUE-FLAVOR,2.10,538,57.90,31.80,7.00,1.60,NaN,NaN,...,65.0,NaN,NaN,NaN,NaN,11.560,15.030,3.450,115.0,1.152141
3340,11667,SEAWEED SPIRULINA DRIED,4.68,290,57.47,7.72,6.23,23.90,3.6,3.10,...,29.0,5.00,0.0,0.0,25.5,2.650,0.675,2.080,0.0,1.262804
8172,35079,WALRUS MEAT DRIED (ALASKA NATIVE),38.80,251,57.00,2.60,1.60,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.277761
8238,35184,SMELT DRIED (ALASKA NATIVE),16.92,386,56.19,17.90,8.25,0.00,0.0,0.00,...,139.0,4.51,NaN,NaN,0.0,3.590,6.860,2.884,249.0,1.182918
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,4648,OIL INDUSTRIAL SOY (PART HYDR) FOR POPCORN & F...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,8.10,NaN,NaN,24.7,17.683,41.929,35.638,0.0,-0.500000
743,4649,SHORTENING INDUS SOY (PART HYDROG) POURABLE LI...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,8.10,NaN,NaN,24.7,18.358,38.870,38.009,0.0,-0.500000
744,4650,OIL INDUSTRIAL SOY REFINED FOR WOKS & LT FRYING,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,8.18,NaN,NaN,183.9,15.340,21.701,58.208,0.0,-0.500000
745,4651,OIL INDUSTRIAL SOY (PART HYDR) FOR NON-DAIRY B...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,8.10,0.0,0.0,24.7,18.101,40.262,36.847,0.0,-0.500000
746,4652,OIL INDUSTRIAL SOY ( PART HYDROGENATED) ALLPURP,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,8.10,0.0,0.0,24.7,24.750,61.248,9.295,0.0,-0.500000
747,4653,OIL INDUSTRIAL SOY (PART HYDR ) & SOY POURABLE...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,8.10,NaN,NaN,24.7,15.341,34.630,45.228,0.0,-0.500000
748,4654,OIL INDUS SOY (PART HYDROG) & CTTNSD TORTILLA ...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,12.10,0.0,0.0,24.7,25.883,59.133,10.305,0.0,-0.500000
750,4656,OIL INDUSTRIAL PALM KERNEL CONFECTION FAT,0.05,884,0.00,100.00,0.01,0.00,0.0,0.00,...,0.0,3.81,NaN,NaN,24.7,87.558,5.406,0.834,0.0,-0.500000
751,4657,OIL INDUSTRIAL PALM KERNEL (HYDROGENATED) CONF...,0.05,884,0.00,100.00,0.01,0.00,0.0,0.00,...,0.0,3.81,NaN,NaN,24.7,93.701,0.257,0.000,0.0,-0.500000
752,4658,OIL INDUSTRIAL PALM KERNEL (HYDROGENATED) CONF...,0.04,884,0.00,100.00,0.01,0.00,0.0,0.00,...,0.0,3.81,NaN,NaN,24.7,92.614,1.271,0.037,0.0,-0.500000
753,4659,OIL INDUSTRIAL COCNT CONFECTION FAT ICE CRM CO...,0.08,884,0.00,100.00,0.01,0.00,0.0,0.00,...,0.0,0.09,0.0,0.0,0.5,86.503,5.681,1.450,0.0,-0.500000
754,4660,OIL INDUSTRIAL PALM KERNEL (HYDROG) FOR WHIPPE...,0.04,884,0.00,100.00,0.01,0.00,0.0,0.00,...,0.0,3.81,NaN,NaN,24.7,88.965,4.934,0.000,0.0,-0.500000
757,4663,OIL INDUSTRIAL PALM KERNEL (HYDROGENATED) FILL...,0.08,884,0.00,100.00,0.01,0.00,0.0,0.00,...,0.0,3.81,NaN,NaN,24.7,88.209,5.705,0.000,0.0,-0.500000
758,4664,OIL INDUSTRIAL SOY (PARTHYDR ) PALM ICINGS & ...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,8.10,NaN,NaN,24.7,28.421,59.715,7.095,0.0,-0.500000
760,4666,SHORTENING INDUSTRIAL SOY (PARTIALLY HYDR )&CO...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,6.13,0.0,0.0,43.0,17.416,40.824,36.038,0.0,-0.500000
761,4667,SHORTENING INDUS SOY (PART HYDR ) FOR BAKING &...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,6.13,NaN,NaN,43.0,18.788,71.023,5.400,0.0,-0.500000
763,4669,USDA CMDTY FD OIL VEG SOYBN REFINED,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,8.18,NaN,NaN,183.9,15.251,22.727,57.333,0.0,-0.500000
764,4670,USDA CMDTY FD OIL VEG LO SATURATED FAT,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,9.21,NaN,NaN,197.6,7.429,22.730,65.138,0.0,-0.500000
770,4678,OIL VEG NATREON CANOLA HI STABILITY NON TRANS ...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,NaN,21.80,0.0,0.0,NaN,6.511,71.991,17.098,0.0,-0.500000
774,4685,OIL COOKING & SALAD ENOVA 80% DIGLYCERIDES,0.00,884,0.00,100.00,0.00,0.00,NaN,NaN,...,NaN,21.64,NaN,NaN,NaN,4.630,37.016,53.370,NaN,-0.500000
787,4698,OIL INDUSTRIAL CANOLA HI OLEIC,0.00,900,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,17.46,0.0,0.0,71.3,6.787,72.734,15.785,0.0,-0.500000
788,4699,OIL INDUSTRIAL SOY LO LINOLENIC,0.00,900,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,8.18,0.0,0.0,183.9,15.084,21.438,58.932,0.0,-0.500000
789,4700,OIL INDUSTRIAL SOY ULTRA LO LINOLENIC,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,8.18,0.0,0.0,183.9,14.853,28.876,52.149,0.0,-0.500000
790,4701,OIL INDUSTRIAL SOY FULLY HYDR,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,8.18,0.0,0.0,183.9,93.966,1.341,0.383,0.0,-0.500000
791,4702,OIL INDUSTRIAL CTTNSD FULLY HYDR,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,35.30,0.0,0.0,24.7,93.608,1.529,0.587,0.0,-0.500000
8122,35014,OIL BELUGA WHALE (ALASKA NATIVE),0.00,900,0.00,100.00,0.00,0.00,0.0,0.00,...,694.0,8.27,5.7,228.0,0.0,14.490,54.190,10.800,NaN,-0.500000
8177,35084,OIL WALRUS (ALASKA NATIVE),0.00,900,0.00,100.00,0.00,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.0,-0.500000
8180,35087,OIL WHALE BOWHEAD (ALASKA NATIVE),0.00,900,0.00,100.00,0.00,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.500000
8455,42289,OIL CORN AND CANOLA,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,14.84,0.0,0.0,42.2,8.026,58.537,29.113,0.0,-0.500000
8599,44005,OIL CORN PEANUT AND OLIVE,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,14.78,0.0,0.0,21.0,14.367,48.033,33.033,0.0,-0.500000

In [14]:
data2 = data[["Protein_(g)","Lipid_Tot_(g)","score"]][data["score"]<1.1]
data2.sort_values("score", ascending=False)

      Protein_(g)  Lipid_Tot_(g)     score
3645        49.10           4.77  1.088016
4985        49.81           8.90  1.083444
3662        48.06           1.61  1.080265
4628        47.68           0.80  1.075710
191         50.00          12.00  1.072246
4175        47.62           3.57  1.060501
4828        47.01           1.22  1.058438
4830        44.95           2.39  1.005939
4829        45.51           8.90  0.986071
190         45.71          17.14  0.949400
4996        47.94          30.34  0.933898
4839        47.94          30.34  0.933898
3643        40.96           6.20  0.896536
159         40.00           5.00  0.880797
121         48.37          43.04  0.880135
5817        40.44           7.61  0.877711
122         48.17          43.95  0.871056
3654        40.32          11.89  0.853593
4817        38.11           2.97  0.848148
8141        44.50          34.60  0.834699
136         36.16           0.77  0.814991
83          36.16           0.77  0.814991
5178        36.71           5.09  0.805845
85          35.50           0.20  0.802895
5423        36.28           3.95  0.801808
3909        36.12           4.00  0.797935
3650        35.62           2.39  0.794662
4202        35.20           0.60  0.794101
8536        41.60          29.99  0.792079
137         35.10           0.72  0.791237
...           ...            ...       ...
673          0.00         100.00 -0.500000
707          0.00         100.00 -0.500000
671          0.00         100.00 -0.500000
670          0.00         100.00 -0.500000
743          0.00         100.00 -0.500000
742          0.00         100.00 -0.500000
741          0.00         100.00 -0.500000
740          0.00         100.00 -0.500000
703          0.00         100.00 -0.500000
738          0.00         100.00 -0.500000
737          0.00         100.00 -0.500000
8455         0.00         100.00 -0.500000
653          0.00         100.00 -0.500000
654          0.00         100.00 -0.500000
655          0.00         100.00 -0.500000
656          0.00         100.00 -0.500000
657          0.00         100.00 -0.500000
658          0.00         100.00 -0.500000
659          0.00         100.00 -0.500000
660          0.00         100.00 -0.500000
661          0.00         100.00 -0.500000
662          0.00         100.00 -0.500000
663          0.00         100.00 -0.500000
664          0.00         100.00 -0.500000
665          0.00         100.00 -0.500000
666          0.00         100.00 -0.500000
667          0.00         100.00 -0.500000
668          0.00         100.00 -0.500000
669          0.00         100.00 -0.500000
744          0.00         100.00 -0.500000

[8577 rows x 3 columns]

In [15]:
data2.sort_values(["Protein_(g)","Lipid_Tot_(g)"], ascending=[False,True])

      Protein_(g)  Lipid_Tot_(g)     score
191         50.00          12.00  1.072246
4985        49.81           8.90  1.083444
3645        49.10           4.77  1.088016
121         48.37          43.04  0.880135
122         48.17          43.95  0.871056
3662        48.06           1.61  1.080265
4839        47.94          30.34  0.933898
4996        47.94          30.34  0.933898
4628        47.68           0.80  1.075710
4175        47.62           3.57  1.060501
4828        47.01           1.22  1.058438
190         45.71          17.14  0.949400
4829        45.51           8.90  0.986071
4830        44.95           2.39  1.005939
8141        44.50          34.60  0.834699
8536        41.60          29.99  0.792079
3643        40.96           6.20  0.896536
5817        40.44           7.61  0.877711
3654        40.32          11.89  0.853593
159         40.00           5.00  0.880797
8162        39.90          30.00  0.753533
4822        39.58          21.62  0.788186
2728        39.01          34.12  0.712779
4817        38.11           2.97  0.848148
4984        38.09          21.86  0.753245
132         37.86          27.34  0.720637
4983        37.80          20.65  0.752728
8548        37.04          41.78  0.629868
5178        36.71           5.09  0.805845
4819        36.49          19.94  0.726613
...           ...            ...       ...
742          0.00         100.00 -0.500000
743          0.00         100.00 -0.500000
744          0.00         100.00 -0.500000
745          0.00         100.00 -0.500000
746          0.00         100.00 -0.500000
747          0.00         100.00 -0.500000
748          0.00         100.00 -0.500000
750          0.00         100.00 -0.500000
751          0.00         100.00 -0.500000
752          0.00         100.00 -0.500000
753          0.00         100.00 -0.500000
754          0.00         100.00 -0.500000
757          0.00         100.00 -0.500000
758          0.00         100.00 -0.500000
760          0.00         100.00 -0.500000
761          0.00         100.00 -0.500000
763          0.00         100.00 -0.500000
764          0.00         100.00 -0.500000
770          0.00         100.00 -0.500000
774          0.00         100.00 -0.500000
787          0.00         100.00 -0.500000
788          0.00         100.00 -0.500000
789          0.00         100.00 -0.500000
790          0.00         100.00 -0.500000
791          0.00         100.00 -0.500000
8122         0.00         100.00 -0.500000
8177         0.00         100.00 -0.500000
8180         0.00         100.00 -0.500000
8455         0.00         100.00 -0.500000
8599         0.00         100.00 -0.500000

[8577 rows x 3 columns]

## Traitement des valeurs manquantes

### Les données

In [49]:
titanic = pd.read_csv("Data/titanic-survival.csv")
titanic.drop(index=[1309], axis='index', inplace=True)
#titanic = titanic.iloc[:-1,:]
titanic.tail()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1304,3.0,0.0,"Zabour, Miss. Hileni",female,14.5,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [5]:
### La méthode describe() renvoie quelques statistiques du dataframe par variable
titanic.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

### Identifier les manquants

In [6]:
### la méthode isnull()
titanic["age"].isnull()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15       True
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1280    False
1281    False
1282     True
1283     True
1284     True
1285    False
1286    False
1287    False
1288    False
1289    False
1290    False
1291     True
1292     True
1293     True
1294    False
1295    False
1296    False
1297     True
1298    False
1299    False
1300    False
1301    False
1302     True
1303     True
1304    False
1305     True
1306    False
1307    False
1308    False
1309     True
Name: age, Length: 1310, dtype: bool

Comment récupérer le nombre de valeurs manquantes ?

In [7]:
### Nombre de valeurs manquantes : exemples de solutions
tot_nan1 = len(titanic.loc[titanic["age"].isnull(),"age"])
tot_nan2 = titanic["age"].isnull().sum()

print(tot_nan1, tot_nan2)

264 264

In [8]:
titanic.isnull().head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,False,False,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,False,True,True,False
3,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,True,False

### Problème avec les valeurs manquantes : calcul de la moyenne

In [9]:
### Calcul de l'âge moyen sans build-in function
age_mean =  sum(titanic["age"])/len(titanic["age"])
age_mean

nan

In [10]:
age_mean_wo_null = sum(titanic.loc[~titanic["age"].isnull(),"age"])/len(titanic.loc[~titanic["age"].isnull(),"age"])
age_mean_wo_null

29.8811345124283

In [11]:
### Une méthode bien plus simple : la fonction build-in Series.mean()
titanic["age"].mean()

29.8811345124283

In [12]:
titanic["fare"].mean()

33.29547928134572

### Exo : calculer le tarif moyen par classe. Retourner les résultats sous forme d'un dictionnaire

In [16]:
dico={}
for classe in [1,2,3]:
    filtre = titanic['pclass']==classe
    subset = titanic.loc[filtre,"fare"]
    dico[classe] = subset.mean()
dico

{1: 87.50899164086687, 2: 21.1791963898917, 3: 13.302888700564957}

In [19]:
titanic.groupby("pclass").mean()

        survived        age     sibsp     parch       fare        body
pclass
1.0     0.619195  39.159918  0.436533  0.365325  87.508992  162.828571
2.0     0.429603  29.506705  0.393502  0.368231  21.179196  167.387097
3.0     0.255289  24.816367  0.568406  0.400564  13.302889  155.818182

### Supprimer des valeurs manquantes

In [50]:
### La méthode .dropna()
titanic.dropna(axis = 1)

,pclass,survived,name,sex,sibsp,parch,ticket
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,0.0,0.0,24160
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,1.0,2.0,113781
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,1.0,2.0,113781
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,1.0,2.0,113781
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,1.0,2.0,113781
5,1.0,1.0,"Anderson, Mr. Harry",male,0.0,0.0,19952
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,1.0,0.0,13502
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,0.0,0.0,112050
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,2.0,0.0,11769
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,0.0,0.0,PC 17609
10,1.0,0.0,"Astor, Col. John Jacob",male,1.0,0.0,PC 17757
11,1.0,1.0,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,1.0,0.0,PC 17757
12,1.0,1.0,"Aubart, Mme. Leontine Pauline",female,0.0,0.0,PC 17477
13,1.0,1.0,"Barber, Miss. Ellen ""Nellie""",female,0.0,0.0,19877
14,1.0,1.0,"Barkworth, Mr. Algernon Henry Wilson",male,0.0,0.0,27042
15,1.0,0.0,"Baumann, Mr. John D",male,0.0,0.0,PC 17318
16,1.0,0.0,"Baxter, Mr. Quigg Edmond",male,0.0,1.0,PC 17558
17,1.0,1.0,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,0.0,1.0,PC 17558
18,1.0,1.0,"Bazzani, Miss. Albina",female,0.0,0.0,11813
19,1.0,0.0,"Beattie, Mr. Thomson",male,0.0,0.0,13050
20,1.0,1.0,"Beckwith, Mr. Richard Leonard",male,1.0,1.0,11751
21,1.0,1.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,1.0,1.0,11751
22,1.0,1.0,"Behr, Mr. Karl Howell",male,0.0,0.0,111369
23,1.0,1.0,"Bidois, Miss. Rosalie",female,0.0,0.0,PC 17757
24,1.0,1.0,"Bird, Miss. Ellen",female,0.0,0.0,PC 17483
25,1.0,0.0,"Birnbaum, Mr. Jakob",male,0.0,0.0,13905
26,1.0,1.0,"Bishop, Mr. Dickinson H",male,1.0,0.0,11967
27,1.0,1.0,"Bishop, Mrs. Dickinson H (Helen Walton)",female,1.0,0.0,11967
28,1.0,1.0,"Bissette, Miss. Amelia",female,0.0,0.0,PC 17760
29,1.0,1.0,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,0.0,0.0,110564
...,...,...,...,...,...,...,...
1279,3.0,0.0,"Vestrom, Miss. Hulda Amanda Adolfina",female,0.0,0.0,350406
1280,3.0,0.0,"Vovk, Mr. Janko",male,0.0,0.0,349252
1281,3.0,0.0,"Waelens, Mr. Achille",male,0.0,0.0,345767
1282,3.0,0.0,"Ware, Mr. Frederick",male,0.0,0.0,359309
1283,3.0,0.0,"Warren, Mr. Charles William",male,0.0,0.0,C.A. 49867
1284,3.0,0.0,"Webber, Mr. James",male,0.0,0.0,SOTON/OQ 3101316
1285,3.0,0.0,"Wenzel, Mr. Linhart",male,0.0,0.0,345775
1286,3.0,1.0,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,0.0,0.0,2688
1287,3.0,0.0,"Widegren, Mr. Carl/Charles Peter",male,0.0,0.0,347064
1288,3.0,0.0,"Wiklund, Mr. Jakob Alfred",male,1.0,0.0,3101267
1289,3.0,0.0,"Wiklund, Mr. Karl Johan",male,1.0,0.0,3101266
1290,3.0,1.0,"Wilkes, Mrs. James (Ellen Needs)",female,1.0,0.0,363272
1291,3.0,0.0,"Willer, Mr. Aaron (""Abi Weller"")",male,0.0,0.0,3410
1292,3.0,0.0,"Willey, Mr. Edward",male,0.0,0.0,S.O./P.P. 751
1293,3.0,0.0,"Williams, Mr. Howard Hugh ""Harry""",male,0.0,0.0,A/5 2466
1294,3.0,0.0,"Williams, Mr. Leslie",male,0.0,0.0,54636
1295,3.0,0.0,"Windelov, Mr. Einar",male,0.0,0.0,SOTON/OQ 3101317
1296,3.0,0.0,"Wirz, Mr. Albert",male,0.0,0.0,315154
1297,3.0,0.0,"Wiseman, Mr. Phillippe",male,0.0,0.0,A/4. 34244
1298,3.0,0.0,"Wittevrongel, Mr. Camille",male,0.0,0.0,345771
1299,3.0,0.0,"Yasbeck, Mr. Antoni",male,1.0,0.0,2659
1300,3.0,1.0,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,1.0,0.0,2659
1301,3.0,0.0,"Youseff, Mr. Gerious",male,0.0,0.0,2628
1302,3.0,0.0,"Yousif, Mr. Wazli",male,0.0,0.0,2647
1303,3.0,0.0,"Yousseff, Mr. Gerious",male,0.0,0.0,2627
1304,3.0,0.0,"Zabour, Miss. Hileni",female,1.0,0.0,2665
1305,3.0,0.0,"Zabour, Miss. Thamine",female,1.0,0.0,2665
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,0.0,0.0,2656
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,0.0,0.0,2670
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,0.0,0.0,315082

In [55]:
titanic.dropna(axis = 0)

Empty DataFrame
Columns: [pclass, survived, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, boat, body, home.dest]
Index: []

In [56]:
titanic.dropna(axis = 0, subset = ["boat"])

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
11,1.0,1.0,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1.0,1.0,"Aubart, Mme. Leontine Pauline",female,24.0000,0.0,0.0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1.0,1.0,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0.0,0.0,19877,78.8500,NaN,S,6,NaN,NaN
14,1.0,1.0,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0.0,0.0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
17,1.0,1.0,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1.0,1.0,"Bazzani, Miss. Albina",female,32.0000,0.0,0.0,11813,76.2917,D15,C,8,NaN,NaN
19,1.0,0.0,"Beattie, Mr. Thomson",male,36.0000,0.0,0.0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1.0,1.0,"Beckwith, Mr. Richard Leonard",male,37.0000,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1.0,1.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0000,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
22,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0000,0.0,0.0,111369,30.0000,C148,C,5,NaN,"New York, NY"
23,1.0,1.0,"Bidois, Miss. Rosalie",female,42.0000,0.0,0.0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1.0,1.0,"Bird, Miss. Ellen",female,29.0000,0.0,0.0,PC 17483,221.7792,C97,S,8,NaN,NaN
26,1.0,1.0,"Bishop, Mr. Dickinson H",male,25.0000,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
27,1.0,1.0,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0000,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
28,1.0,1.0,"Bissette, Miss. Amelia",female,35.0000,0.0,0.0,PC 17760,135.6333,C99,S,8,NaN,NaN
29,1.0,1.0,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0000,0.0,0.0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
31,1.0,1.0,"Blank, Mr. Henry",male,40.0000,0.0,0.0,112277,31.0000,A31,C,7,NaN,"Glen Ridge, NJ"
32,1.0,1.0,"Bonnell, Miss. Caroline",female,30.0000,0.0,0.0,36928,164.8667,C7,S,8,NaN,"Youngstown, OH"
33,1.0,1.0,"Bonnell, Miss. Elizabeth",female,58.0000,0.0,0.0,113783,26.5500,C103,S,8,NaN,"Birkdale, England Cleveland, Ohio"
35,1.0,1.0,"Bowen, Miss. Grace Scott",female,45.0000,0.0,0.0,PC 17608,262.3750,NaN,C,4,NaN,"Cooperstown, NY"
36,1.0,1.0,"Bowerman, Miss. Elsie Edith",female,22.0000,0.0,1.0,113505,55.0000,E33,S,6,NaN,"St Leonards-on-Sea, England Ohio"
37,1.0,1.0,"Bradley, Mr. George (""George Arthur Brayton"")",male,NaN,0.0,0.0,111427,26.5500,NaN,S,9,NaN,"Los Angeles, CA"
41,1.0,1.0,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0000,0.0,0.0,PC 17610,27.7208,B4,C,6,NaN,"Denver, CO"
42,1.0,1.0,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.0000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Belmont, MA"
43,1.0,1.0,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.0000,0.0,0.0,11813,76.2917,D15,C,8,NaN,"Philadelphia, PA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,3.0,1.0,"Pickard, Mr. Berk (Berk Trembisky)",male,32.0000,0.0,0.0,SOTON/O.Q. 392078,8.0500,E10,S,9,NaN,NaN
1149,3.0,1.0,"Riordan, Miss. Johanna ""Hannah""",female,NaN,0.0,0.0,334915,7.7208,NaN,Q,13,NaN,NaN
1159,3.0,1.0,"Roth, Miss. Sarah A",female,NaN,0.0,0.0,342712,8.0500,NaN,S,C,NaN,NaN
1162,3.0,1.0,"Ryan, Mr. Edward",male,NaN,0.0,0.0,383162,7.7500,NaN,Q,14,NaN,NaN
1182,3.0,1.0,"Salkjelsvik, Miss. Anna Kristine",female,21.0000,0.0,0.0,343120,7.6500,NaN,S,C,NaN,NaN
1187,3.0,1.0,"Sandstrom, Miss. Beatrice Irene",female,1.0000,1.0,1.0,PP 9549,16.7000,G6,S,13,NaN,NaN
1188,3.0,1.0,"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...",female,24.0000,0.0,2.0,PP 9549,16.7000,G6,S,13,NaN,NaN
1189,3.0,1.0,"Sandstrom, Miss. Marguerite Rut",female,4.0000,1.0,1.0,PP 9549,16.7000,G6,S,13,NaN,NaN
1190,3.0,1.0,"Sap, Mr. Julius",male,25.0000,0.0,0.0,345768,9.5000,NaN,S,11,NaN,NaN
1196,3.0,1.0,"Sheerlinck, Mr. Jan Baptist",male,29.0000,0.0,0.0,345779,9.5000,NaN,S,11,NaN,NaN
1205,3.0,1.0,"Sjoblom, Miss. Anna Sofia",female,18.0000,0.0,0.0,3101265,7.4958,NaN,S,16,NaN,NaN
1216,3.0,1.0,"Smyth, Miss. Julia",female,NaN,0.0,0.0,335432,7.7333,NaN,Q,13,NaN,NaN
1223,3.0,1.0,"Stanley, Miss. Amy Zillah Elsie",female,23.0000,0.0,0.0,CA. 2314,7.5500,NaN,S,C,NaN,NaN
1228,3.0,1.0,"Stranden, Mr. Juho",male,31.0000,0.0,0.0,STON/O 2. 3101288,7.9250,NaN,S,9,NaN,NaN
1232,3.0,1.0,"Sunderland, Mr. Victor Francis",male,16.0000,0.0,0.0,SOTON/OQ 392089,8.0500,NaN,S,B,NaN,NaN
1233,3.0,1.0,"Sundman, Mr. Johan Julian",male,44.0000,0.0,0.0,STON/O 2. 3101269,7.9250,NaN,S,15,NaN,NaN
1236,3.0,1.0,"Svensson, Mr. Johan Cervin",male,14.0000,0.0,0.0,7538,9.2250,NaN,S,13,NaN,NaN
1238,3.0,1.0,"Tenglin, Mr. Gunnar Isidor",male,25.0000,0.0,0.0,350033,7.7958,NaN,S,13 15,NaN,NaN
1240,3.0,1.0,"Thomas, Master. Assad Alexander",male,0.4167,0.0,1.0,2625,8.5167,NaN,C,16,NaN,NaN
1244,3.0,1.0,"Thomas, Mrs. Alexander (Thamine ""Thelma"")",female,16.0000,1.0,1.0,2625,8.5167,NaN,C,14,NaN,NaN
1247,3.0,1.0,"Thorneycroft, Mrs. Percival (Florence Kate White)",female,NaN,1.0,0.0,376564,16.1000,NaN,S,10,NaN,NaN
1254,3.0,1.0,"Tornquist, Mr. William Henry",male,25.0000,0.0,0.0,LINE,0.0000,NaN,S,15,NaN,NaN
1256,3.0,1.0,"Touma, Master. Georges Youssef",male,7.0000,1.0,1.0,2650,15.2458,NaN,C,C,NaN,NaN
1257,3.0,1.0,"Touma, Miss. Maria Youssef",female,9.0000,1.0,1.0,2650,15.2458,NaN,C,C,NaN,NaN
1258,3.0,1.0,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.0000,0.0,2.0,2650,15.2458,NaN,C,C,NaN,NaN
1260,3.0,1.0,"Turja, Miss. Anna Sofia",female,18.0000,0.0,0.0,4138,9.8417,NaN,S,15,NaN,NaN
1261,3.0,1.0,"Turkula, Mrs. (Hedwig)",female,63.0000,0.0,0.0,4134,9.5875,NaN,S,15,NaN,NaN
1277,3.0,1.0,"Vartanian, Mr. David",male,22.0000,0.0,0.0,2658,7.2250,NaN,C,13 15,NaN,NaN
1286,3.0,1.0,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0000,0.0,0.0,2688,7.2292,NaN,C,C,NaN,NaN
1299,3.0,0.0,"Yasbeck, Mr. Antoni",male,27.0000,1.0,0.0,2659,14.4542,NaN,C,C,NaN,NaN

In [57]:
### Pour ne conserver uniquement les lignes pour lesquelles l'âge et le sexe sont renseignés
titanic.dropna(axis = 0, subset = ["age","sex"])

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0000,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0000,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1.0,0.0,"Astor, Col. John Jacob",male,47.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1.0,1.0,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1.0,1.0,"Aubart, Mme. Leontine Pauline",female,24.0000,0.0,0.0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1.0,1.0,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0.0,0.0,19877,78.8500,NaN,S,6,NaN,NaN
14,1.0,1.0,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0.0,0.0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
16,1.0,0.0,"Baxter, Mr. Quigg Edmond",male,24.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1.0,1.0,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1.0,1.0,"Bazzani, Miss. Albina",female,32.0000,0.0,0.0,11813,76.2917,D15,C,8,NaN,NaN
19,1.0,0.0,"Beattie, Mr. Thomson",male,36.0000,0.0,0.0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1.0,1.0,"Beckwith, Mr. Richard Leonard",male,37.0000,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1.0,1.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0000,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
22,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0000,0.0,0.0,111369,30.0000,C148,C,5,NaN,"New York, NY"
23,1.0,1.0,"Bidois, Miss. Rosalie",female,42.0000,0.0,0.0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1.0,1.0,"Bird, Miss. Ellen",female,29.0000,0.0,0.0,PC 17483,221.7792,C97,S,8,NaN,NaN
25,1.0,0.0,"Birnbaum, Mr. Jakob",male,25.0000,0.0,0.0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
26,1.0,1.0,"Bishop, Mr. Dickinson H",male,25.0000,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
27,1.0,1.0,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0000,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
28,1.0,1.0,"Bissette, Miss. Amelia",female,35.0000,0.0,0.0,PC 17760,135.6333,C99,S,8,NaN,NaN
29,1.0,1.0,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0000,0.0,0.0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
30,1.0,0.0,"Blackwell, Mr. Stephen Weart",male,45.0000,0.0,0.0,113784,35.5000,T,S,NaN,NaN,"Trenton, NJ"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1269,3.0,0.0,"Vande Velde, Mr. Johannes Joseph",male,33.0000,0.0,0.0,345780,9.5000,NaN,S,NaN,NaN,NaN
1270,3.0,0.0,"Vande Walle, Mr. Nestor Cyriel",male,28.0000,0.0,0.0,345770,9.5000,NaN,S,NaN,NaN,NaN
1271,3.0,0.0,"Vanden Steen, Mr. Leo Peter",male,28.0000,0.0,0.0,345783,9.5000,NaN,S,NaN,NaN,NaN
1272,3.0,0.0,"Vander Cruyssen, Mr. Victor",male,47.0000,0.0,0.0,345765,9.0000,NaN,S,NaN,NaN,NaN
1273,3.0,0.0,"Vander Planke, Miss. Augusta Maria",female,18.0000,2.0,0.0,345764,18.0000,NaN,S,NaN,NaN,NaN
1274,3.0,0.0,"Vander Planke, Mr. Julius",male,31.0000,3.0,0.0,345763,18.0000,NaN,S,NaN,NaN,NaN
1275,3.0,0.0,"Vander Planke, Mr. Leo Edmondus",male,16.0000,2.0,0.0,345764,18.0000,NaN,S,NaN,NaN,NaN
1276,3.0,0.0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0000,1.0,0.0,345763,18.0000,NaN,S,NaN,NaN,NaN
1277,3.0,1.0,"Vartanian, Mr. David",male,22.0000,0.0,0.0,2658,7.2250,NaN,C,13 15,NaN,NaN
1278,3.0,0.0,"Vendel, Mr. Olof Edvin",male,20.0000,0.0,0.0,350416,7.8542,NaN,S,NaN,NaN,NaN
1279,3.0,0.0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0000,0.0,0.0,350406,7.8542,NaN,S,NaN,NaN,NaN
1280,3.0,0.0,"Vovk, Mr. Janko",male,22.0000,0.0,0.0,349252,7.8958,NaN,S,NaN,NaN,NaN
1281,3.0,0.0,"Waelens, Mr. Achille",male,22.0000,0.0,0.0,345767,9.0000,NaN,S,NaN,NaN,"Antwerp, Belgium / Stanton, OH"
1285,3.0,0.0,"Wenzel, Mr. Linhart",male,32.5000,0.0,0.0,345775,9.5000,NaN,S,NaN,298.0,NaN
1286,3.0,1.0,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0000,0.0,0.0,2688,7.2292,NaN,C,C,NaN,NaN
1287,3.0,0.0,"Widegren, Mr. Carl/Charles Peter",male,51.0000,0.0,0.0,347064,7.7500,NaN,S,NaN,NaN,NaN
1288,3.0,0.0,"Wiklund, Mr. Jakob Alfred",male,18.0000,1.0,0.0,3101267,6.4958,NaN,S,NaN,314.0,NaN
1289,3.0,0.0,"Wiklund, Mr. Karl Johan",male,21.0000,1.0,0.0,3101266,6.4958,NaN,S,NaN,NaN,NaN
1290,3.0,1.0,"Wilkes, Mrs. James (Ellen Needs)",female,47.0000,1.0,0.0,363272,7.0000,NaN,S,NaN,NaN,NaN
1294,3.0,0.0,"Williams, Mr. Leslie",male,28.5000,0.0,0.0,54636,16.1000,NaN,S,NaN,14.0,NaN
1295,3.0,0.0,"Windelov, Mr. Einar",male,21.0000,0.0,0.0,SOTON/OQ 3101317,7.2500,NaN,S,NaN,NaN,NaN
1296,3.0,0.0,"Wirz, Mr. Albert",male,27.0000,0.0,0.0,315154,8.6625,NaN,S,NaN,131.0,NaN
1298,3.0,0.0,"Wittevrongel, Mr. Camille",male,36.0000,0.0,0.0,345771,9.5000,NaN,S,NaN,NaN,NaN
1299,3.0,0.0,"Yasbeck, Mr. Antoni",male,27.0000,1.0,0.0,2659,14.4542,NaN,C,C,NaN,NaN
1300,3.0,1.0,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0000,1.0,0.0,2659,14.4542,NaN,C,NaN,NaN,NaN
1301,3.0,0.0,"Youseff, Mr. Gerious",male,45.5000,0.0,0.0,2628,7.2250,NaN,C,NaN,312.0,NaN
1304,3.0,0.0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [58]:
### On peut vérifier avec l'attribut shape
titanic.dropna(axis = 0, subset = ["age","sex"]).shape

(1046, 14)

## Les pivots de tables

Pour ceux qui connaissent, c'est l'équivalent des "tableaux croisés dynamiques" sur Excel.

In [59]:
### Méthode DataFrame.pivot_table() : regardez la doc !!
titanic.pivot_table(index = "pclass", values = "fare")

             fare
pclass
1.0     87.508992
2.0     21.179196
3.0     13.302889

In [65]:
titanic.pivot_table(index = "pclass", values = "fare", aggfunc = sum)

              fare
pclass
1.0     28265.4043
2.0      5866.6374
3.0      9418.4452

In [60]:
titanic.pivot_table(index = "pclass", values = ["age","fare","survived"])

              age       fare  survived
pclass
1.0     39.159918  87.508992  0.619195
2.0     29.506705  21.179196  0.429603
3.0     24.816367  13.302889  0.255289

In [66]:
import numpy as np
titanic.pivot_table(index=["pclass","embarked"], values = ["fare", "survived"], aggfunc = [np.mean,sum])

                       mean                   sum
                       fare  survived        fare survived
pclass embarked
1.0    C         106.845330  0.687943  15065.1916     97.0
       Q          90.000000  0.666667    270.0000      2.0
       S          72.148094  0.559322  12770.2127     99.0
2.0    C          23.300593  0.571429    652.4166     16.0
       Q          11.735114  0.285714     82.1458      2.0
       S          21.206921  0.417355   5132.0750    101.0
3.0    C          11.021624  0.366337   1113.1840     37.0
       Q          10.390820  0.353982   1174.1627     40.0
       S          14.435422  0.210101   7131.0985    104.0

## Tri et réindexation

In [70]:
new_titanic = titanic.sort_values("age", ascending=False)
new_titanic.head(10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
14,1.0,1.0,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0.0,0.0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
61,1.0,1.0,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1.0,0.0,19877,78.8500,C46,S,6,NaN,"Little Onn Hall, Staffs"
1235,3.0,0.0,"Svensson, Mr. Johan",male,74.0,0.0,0.0,347060,7.7750,NaN,S,NaN,NaN,NaN
135,1.0,0.0,"Goldschmidt, Mr. George B",male,71.0,0.0,0.0,PC 17754,34.6542,A5,C,NaN,NaN,"New York, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
727,3.0,0.0,"Connors, Mr. Patrick",male,70.5,0.0,0.0,370369,7.7500,NaN,Q,NaN,171.0,NaN
81,1.0,0.0,"Crosby, Capt. Edward Gifford",male,70.0,1.0,1.0,WE/P 5735,71.0000,B22,S,NaN,269.0,"Milwaukee, WI"
506,2.0,0.0,"Mitchell, Mr. Henry Michael",male,70.0,0.0,0.0,C.A. 24580,10.5000,NaN,S,NaN,NaN,"Guernsey / Montclair, NJ and/or Toledo, Ohio"
285,1.0,0.0,"Straus, Mr. Isidor",male,67.0,1.0,0.0,PC 17483,221.7792,C55 C57,S,NaN,96.0,"New York, NY"
594,2.0,0.0,"Wheadon, Mr. Edward H",male,66.0,0.0,0.0,C.A. 24579,10.5000,NaN,S,NaN,NaN,"Guernsey, England / Edgewood, RI"

Nous avons déjà introduit les méthodes loc et iloc sans nous y arrêter vraiment. C'est l'occasion de le faire maintenant.

Quelles différences entre les deux méthodes ? Regardez ce que donnent new_titanic.loc[9,:] et new_titanic.iloc[9,:] pour y voir plus clair...

In [68]:
new_titanic.loc[9,:]

pclass                             1
survived                           0
name         Artagaveytia, Mr. Ramon
sex                             male
age                               71
sibsp                              0
parch                              0
ticket                      PC 17609
fare                         49.5042
cabin                            NaN
embarked                           C
boat                             NaN
body                              22
home.dest        Montevideo, Uruguay
Name: 9, dtype: object

In [69]:
new_titanic.iloc[9,:]

pclass                                      2
survived                                    0
name                    Wheadon, Mr. Edward H
sex                                      male
age                                        66
sibsp                                       0
parch                                       0
ticket                             C.A. 24579
fare                                     10.5
cabin                                     NaN
embarked                                    S
boat                                      NaN
body                                      NaN
home.dest    Guernsey, England / Edgewood, RI
Name: 594, dtype: object

On voit donc l'intérêt de réindexer les lignes d'un nouveau dataframe construit à partir d'un dataframe existant puisqu'en effet les indices de ligne ne correspondent plus aux numéros des lignes...

In [79]:
### méthode .reset_index()
new_titanic.reset_index()
### voir l'option drop pour ne pas avoir une nouvelle colonne avec l'ancien indice

,name,index,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,"Barkworth, Mr. Algernon Henry Wilson",14,1.0,1.0,male,80.0,0.0,0.0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
1,"Cavendish, Mrs. Tyrell William (Julia Florence...",61,1.0,1.0,female,76.0,1.0,0.0,19877,78.8500,C46,S,6,NaN,"Little Onn Hall, Staffs"
2,"Svensson, Mr. Johan",1235,3.0,0.0,male,74.0,0.0,0.0,347060,7.7750,NaN,S,NaN,NaN,NaN
3,"Goldschmidt, Mr. George B",135,1.0,0.0,male,71.0,0.0,0.0,PC 17754,34.6542,A5,C,NaN,NaN,"New York, NY"
4,"Artagaveytia, Mr. Ramon",9,1.0,0.0,male,71.0,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
5,"Connors, Mr. Patrick",727,3.0,0.0,male,70.5,0.0,0.0,370369,7.7500,NaN,Q,NaN,171.0,NaN
6,"Crosby, Capt. Edward Gifford",81,1.0,0.0,male,70.0,1.0,1.0,WE/P 5735,71.0000,B22,S,NaN,269.0,"Milwaukee, WI"
7,"Mitchell, Mr. Henry Michael",506,2.0,0.0,male,70.0,0.0,0.0,C.A. 24580,10.5000,NaN,S,NaN,NaN,"Guernsey / Montclair, NJ and/or Toledo, Ohio"
8,"Straus, Mr. Isidor",285,1.0,0.0,male,67.0,1.0,0.0,PC 17483,221.7792,C55 C57,S,NaN,96.0,"New York, NY"
9,"Wheadon, Mr. Edward H",594,2.0,0.0,male,66.0,0.0,0.0,C.A. 24579,10.5000,NaN,S,NaN,NaN,"Guernsey, England / Edgewood, RI"
10,"Duane, Mr. Frank",782,3.0,0.0,male,65.0,0.0,0.0,336439,7.7500,NaN,Q,NaN,NaN,NaN
11,"Ostby, Mr. Engelhart Cornelius",221,1.0,0.0,male,65.0,0.0,1.0,113509,61.9792,B30,C,NaN,234.0,"Providence, RI"
12,"Millet, Mr. Francis Davis",205,1.0,0.0,male,65.0,0.0,0.0,13509,26.5500,E38,S,NaN,249.0,"East Bridgewater, MA"
13,"Nicholson, Mr. Arthur Ernest",217,1.0,0.0,male,64.0,0.0,0.0,693,26.0000,NaN,S,NaN,263.0,"Isle of Wight, England"
14,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",83,1.0,1.0,female,64.0,1.0,1.0,112901,26.5500,B26,S,7,NaN,"Milwaukee, WI"
15,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",78,1.0,1.0,female,64.0,0.0,2.0,PC 17756,83.1583,E45,C,14,NaN,"Lakewood, NJ"
16,"Fortune, Mr. Mark",115,1.0,0.0,male,64.0,1.0,4.0,19950,263.0000,C23 C25 C27,S,NaN,NaN,"Winnipeg, MB"
17,"Warren, Mr. Frank Manley",303,1.0,0.0,male,64.0,1.0,0.0,110813,75.2500,D37,C,NaN,NaN,"Portland, OR"
18,"Andrews, Miss. Kornelia Theodosia",6,1.0,1.0,female,63.0,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
19,"Straus, Mrs. Isidor (Rosalie Ida Blun)",286,1.0,0.0,female,63.0,1.0,0.0,PC 17483,221.7792,C55 C57,S,NaN,NaN,"New York, NY"
20,"Turkula, Mrs. (Hedwig)",1261,3.0,1.0,female,63.0,0.0,0.0,4134,9.5875,NaN,S,15,NaN,NaN
21,"Howard, Mr. Benjamin",455,2.0,0.0,male,63.0,1.0,0.0,24065,26.0000,NaN,S,NaN,NaN,"Swindon, England"
22,"Harris, Mr. George",432,2.0,1.0,male,62.0,0.0,0.0,S.W./PP 752,10.5000,NaN,S,15,NaN,London
23,"Wright, Mr. George",321,1.0,0.0,male,62.0,0.0,0.0,113807,26.5500,NaN,S,NaN,NaN,"Halifax, NS"
24,"Myles, Mr. Thomas Francis",511,2.0,0.0,male,62.0,0.0,0.0,240276,9.6875,NaN,Q,NaN,NaN,"Cambridge, MA"
25,"Stead, Mr. William Thomas",279,1.0,0.0,male,62.0,0.0,0.0,113514,26.5500,C87,S,NaN,NaN,"Wimbledon Park, London / Hayling Island, Hants"
26,"Stone, Mrs. George Nelson (Martha Evelyn)",284,1.0,1.0,female,62.0,0.0,0.0,113572,80.0000,B28,NaN,6,NaN,"Cincinatti, OH"
27,"Nysveen, Mr. Johan Hansen",1068,3.0,0.0,male,61.0,0.0,0.0,345364,6.2375,NaN,S,NaN,NaN,NaN
28,"Ryerson, Mr. Arthur Larned",252,1.0,0.0,male,61.0,1.0,3.0,PC 17608,262.3750,B57 B59 B63 B66,C,NaN,NaN,"Haverford, PA / Cooperstown, NY"
29,"Sutton, Mr. Frederick",287,1.0,0.0,male,61.0,0.0,0.0,36963,32.3208,D50,S,NaN,46.0,"Haddenfield, NJ"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,"Sirota, Mr. Maurice",1202,3.0,0.0,male,NaN,0.0,0.0,392092,8.0500,NaN,S,NaN,NaN,NaN
1280,"Slabenoff, Mr. Petco",1212,3.0,0.0,male,NaN,0.0,0.0,349214,7.8958,NaN,S,NaN,NaN,NaN
1281,"Slocovski, Mr. Selman Francis",1213,3.0,0.0,male,NaN,0.0,0.0,SOTON/OQ 392086,8.0500,NaN,S,NaN,NaN,NaN
1282,"Smiljanic, Mr. Mile",1214,3.0,0.0,male,NaN,0.0,0.0,315037,8.6625,NaN,S,NaN,NaN,NaN
1283,"Smith, Mr. Thomas",1215,3.0,0.0,male,NaN,0.0,0.0,384461,7.7500,NaN,Q,NaN,NaN,NaN
1284,"Smyth, Miss. Julia",1216,3.0,1.0,female,NaN,0.0,0.0,335432,7.7333,NaN,Q,13,NaN,NaN
1285,"Spector, Mr. Woolf",1219,3.0,0.0,male,NaN,0.0,0.0,A.5. 3236,8.0500,NaN,S,NaN,NaN,NaN
1286,"Staneff, Mr. Ivan",1221,3.0,0.0,male,NaN,0.0,0.0,349208,7.8958,NaN,S,NaN,NaN,NaN
1287,"Thomas, Mr. Charles P",1241,3.0,0.0,male,NaN,1.0,0.0,2621,6.4375,NaN,C,NaN,NaN,NaN
1288,"Thomas, Mr. John",1242,3.0,0.0,male,NaN,0.0,0.0,2681,6.4375,NaN,C,NaN,NaN,NaN
1289,"Thomas, Mr. Tannous",1243,3.0,0.0,male,NaN,0.0,0.0,2684,7.2250,NaN,C,NaN,NaN,NaN
1290,"Thomson, Mr. Alexander Morrison",1245,3.0,0.0,male,NaN,0.0,0.0,32302,8.0500,NaN,S,NaN,NaN,NaN
1291,"Thorneycroft, Mr. Percival",1246,3.0,0.0,male,NaN,1.0,0.0,376564,16.1000,NaN,S,NaN,NaN,NaN
1292,"Thorneycroft, Mrs. Percival (Florence Kate White)",1247,3.0,1.0,female,NaN,1.0,0.0,376564,16.1000,NaN,S,10,NaN,NaN
1293,"Tobin, Mr. Roger",1249,3.0,0.0,male,NaN,0.0,0.0,383121,7.7500,F38,Q,NaN,NaN,NaN
1294,"Todoroff, Mr. Lalio",1250,3.0,0.0,male,NaN,0.0,0.0,349216,7.8958,NaN,S,NaN,NaN,NaN
1295,"Torfa, Mr. Assad",1253,3.0,0.0,male,NaN,0.0,0.0,2673,7.2292,NaN,C,NaN,NaN,NaN
1296,"Toufik, Mr. Nakli",1255,3.0,0.0,male,NaN,0.0,0.0,2641,7.2292,NaN,C,NaN,NaN,NaN
1297,"van Billiard, Master. James William",1262,3.0,0.0,male,NaN,1.0,1.0,A/5. 851,14.5000,NaN,S,NaN,NaN,NaN
1298,"van Melkebeke, Mr. Philemon",1268,3.0,0.0,male,NaN,0.0,0.0,345777,9.5000,NaN,S,NaN,NaN,NaN
1299,"Ware, Mr. Frederick",1282,3.0,0.0,male,NaN,0.0,0.0,359309,8.0500,NaN,S,NaN,NaN,NaN
1300,"Warren, Mr. Charles William",1283,3.0,0.0,male,NaN,0.0,0.0,C.A. 49867,7.5500,NaN,S,NaN,NaN,NaN
1301,"Webber, Mr. James",1284,3.0,0.0,male,NaN,0.0,0.0,SOTON/OQ 3101316,8.0500,NaN,S,NaN,NaN,NaN
1302,"Willer, Mr. Aaron (""Abi Weller"")",1291,3.0,0.0,male,NaN,0.0,0.0,3410,8.7125,NaN,S,NaN,NaN,NaN
1303,"Willey, Mr. Edward",1292,3.0,0.0,male,NaN,0.0,0.0,S.O./P.P. 751,7.5500,NaN,S,NaN,NaN,NaN
1304,"Williams, Mr. Howard Hugh ""Harry""",1293,3.0,0.0,male,NaN,0.0,0.0,A/5 2466,8.0500,NaN,S,NaN,NaN,NaN
1305,"Wiseman, Mr. Phillippe",1297,3.0,0.0,male,NaN,0.0,0.0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1306,"Yousif, Mr. Wazli",1302,3.0,0.0,male,NaN,0.0,0.0,2647,7.2250,NaN,C,NaN,NaN,NaN
1307,"Yousseff, Mr. Gerious",1303,3.0,0.0,male,NaN,0.0,0.0,2627,14.4583,NaN,C,NaN,NaN,NaN
1308,"Zabour, Miss. Thamine",1305,3.0,0.0,female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN

In [78]:
# pour changer l'index par un autre index que les numéros de ligne on utilise .set_index()
new_titanic.set_index("name",inplace=True)
new_titanic.loc["Svensson, Mr. Johan"]

index          1235
pclass            3
survived          0
sex            male
age              74
sibsp             0
parch             0
ticket       347060
fare          7.775
cabin           NaN
embarked          S
boat            NaN
body            NaN
home.dest       NaN
Name: Svensson, Mr. Johan, dtype: object

## Appliquer une fonction sur un DataFrame

In [81]:
### méthode .apply()

In [82]:
### on définit une fonction qui retourne le 100ème élement d'une colonne
def obs100(col):
    return col.iloc[99]

In [85]:
### On applique cette fonction au dataframe
titanic.apply(obs100, axis=0)

pclass                                                       1
survived                                                     1
name         Duff Gordon, Lady. (Lucille Christiana Sutherl...
sex                                                     female
age                                                         48
sibsp                                                        1
parch                                                        0
ticket                                                   11755
fare                                                      39.6
cabin                                                      A16
embarked                                                     C
boat                                                         1
body                                                       NaN
home.dest                                       London / Paris
dtype: object

Essayez maintenant la même chose avec __axis = 1__. Que se passe-t-il ? Pourquoi ?

In [88]:
### on définit une nouvelle fonction
def from_france(row):
    if row["embarked"] == "C":
        return "départ de France"
    else:
        return "parti d'ailleurs"
    
#row = titanic.loc[150]
#from_france(row)

titanic["parti_de_France"] = titanic.apply(from_france, axis=1)
titanic.head(10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,parti_de_France
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",parti d'ailleurs
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",parti d'ailleurs
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",parti d'ailleurs
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",parti d'ailleurs
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",parti d'ailleurs
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY",parti d'ailleurs
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY",parti d'ailleurs
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0000,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI",parti d'ailleurs
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY",parti d'ailleurs
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0000,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay",départ de France

### Exo : utiliser la méthode apply pour déterminer le nombre de valeurs manquantes dans chaque colonne

Une indication : il faut d'abord définir une fonction

In [89]:
def val_man(col):
    return col.isnull().sum()

In [90]:
titanic.apply(val_man, axis = 0)

pclass                0
survived              0
name                  0
sex                   0
age                 263
sibsp                 0
parch                 0
ticket                0
fare                  1
cabin              1014
embarked              2
boat                823
body               1188
home.dest           564
parti_de_France       0
dtype: int64

### Exo : utiliser la méthode apply pour créer une nouvelle variable age_label dans le dataframe contenant 'minor' si la personne a moins de 18 ans, 'adult' si son age est supérieur ou égal à 18 ans et 'unknown' sinon

Indications : Procéder par étape ! On définira d'abord une fonction, qu'on appliquera au dataframe et on stockera le résultat dans une nouvelle colonne

In [92]:
def age_label(row):
    if pd.isnull(row['age']):
        return 'unknown'
    elif row['age']<18:
        return 'minor'
    else:
        return 'adult'

In [94]:
titanic['age_label'] = titanic.apply(age_label,axis=1)

In [98]:
titanic[['age','age_label']].head()

       age age_label
0  29.0000     adult
1   0.9167     minor
2   2.0000     minor
3  30.0000     adult
4  25.0000     adult

### Exo : calculer le pourcentage de survie par groupe d'âge (majeur/mineur)

Indication : l'exercice précédent a quasiment fait tout le boulot...

In [99]:
titanic.pivot_table(index='age_label',values='survived')

           survived
age_label
adult      0.387892
minor      0.525974
unknown    0.277567